{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image. Values are "square", "portrait", "landscape" or "fit to image". Default is "square"
  - show_secondary_image: {Boolean} Show a secondary image on hover. Default: false
  - show_price: {Boolean} Show the product vendor. Default: true
  - price_position: Bottom (default) or top
  - show_sale_badges: Shows a "Sale" badge if a product price is discounted. Default: true
  - show_vendor: {Boolean} Show the product vendor (brand). Default: false
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button
  - section_id: {String} The ID of the section that contains this card

  Usage:
  {% render 'card-product-basic', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{% assign media_size = 280 %}

<div class="card card-product card-ratio-{{ media_aspect_ratio }}">
<div class="card-media">
<a href="{{ card_product.url }}" title="{{ card_product.title }}">

<div class="card-product-image-outer">
  <div class="card-product--image">
  <div class="card-product--image-wrapper card-product--single-image-wrapper">
  {% if card_product.featured_media %}
  {% if lazy_load %}
  {{ card_product.featured_media | image_url: width: media_size | image_tag: loading: 'lazy' }}
  {% else %}
  {{ card_product.featured_media | image_url: width: media_size | image_tag }}
  {% endif %}
  {% endif %}
  </div>
  </div>
</div>

</a>
</div>

<div class="card-product--text-section text-small{% if settings.card_text_border %} card-product--text-section-border{% endif %}{% if price_position == 'right' %} card-product--text-section--flex{% endif %}">
<a href="{{ card_product.url }}" class="card-product--text-section-link">
<div class="card-product--title">
{% if show_vendor %}
<span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
{% if show_vendor_inline %}
<h3 class="card-product-title-h3 card-title-font-family-{{ settings.card_title_font }}">{% if placeholder %}<span class="vendor--style-{{ settings.card_vendor_text_style }}">{{ 'products.product.vendor' | t }}</span>{% endif %}<span class="vendor--style-{{ settings.card_vendor_text_style }}">{{ card_product.vendor }}</span> {{ card_product.title | escape }}{% if placeholder %}{{ 'onboarding.product_title' | t }}{% endif %}</h3>
{% else %}
<div class="card-product-vendor vendor--style-{{ settings.card_vendor_text_style }}">{{ card_product.vendor }}{% if placeholder %}{{ 'products.product.vendor' | t }}{% endif %}</div>
<h3 class="card-product-title-h3 card-title-font-family-{{ settings.card_title_font }}">{{ card_product.title | escape }}{% if placeholder %}{{ 'onboarding.product_title' | t }}{% endif %}</h3>
{% endif %}
{% else %}
<h3 class="card-product-title-h3 card-title-font-family-{{ settings.card_title_font }}">
  {{ card_product.title | escape }}{% if placeholder %}{{ 'onboarding.product_title' | t }}{% endif %}
</h3>
{% endif %}
{% if settings.card_show_product_type %}
<span class="card-product-type-label">{{ card_product.type }}</span>
{% endif %}

</div>
  
<div class="card-product--info">
{% if show_price %}
{% unless hide_price %}
<div class="card-product--price{% if settings.card_price_sale_highlight %} card-price-sale-highlighted{% endif %}">{% render 'price', product: card_product, price_class: '' %}</div>
{% endunless %}
{% endif %}

{% if card_product.available == false %}
<div class="card-product-badge badge-sold-out">{{- 'products.product.sold_out' | t -}}</div>
{% endif %}

</div>
</a>
{%- if show_quick_add -%}
  <div class="product-card-quick-add quick-add-desktop-static align-left quick-add-button-mobile-{{ quick_add_button_style }} quick-add-button-desktop-{{ quick_add_button_style }}">
  <div class="quick-add no-js-hidden">
    {%- liquid
      assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
      assign qty_rules = false
      if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
        assign qty_rules = true
      endif
    -%}
    {%- if card_product.variants.size > 1 or qty_rules -%}
      <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
        <button
          id="{{ product_form_id }}-submit"
          type="submit"
          name="add"
          class="quick-add__submit button"
          aria-haspopup="dialog"
          aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
          data-product-url="{{ card_product.url }}"
        >
          <span class="qa-label">{{ 'products.product.add' | t }}</span>
          {%- if quick_add_button_style == 'icon' -%}
          <div class="qa-label-icon">{% render 'icon-quick-add' %}</div>
          {%- endif -%}
          <div class="loading__spinner hidden">
            <svg
              aria-hidden="true"
              focusable="false"
              class="spinner"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </button>
      </modal-opener>

      <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal{% if settings.card_quick_card_style_mobile == 'minimal' %} quick-add-modal-mobile-minimal{% endif %} modal-image-ratio-{{ media_aspect_ratio }}">
        <div
          role="dialog"
          aria-label="{{ 'products.product.add' | t: product_name: card_product.title | escape }}"
          aria-modal="true"
          class="quick-add-modal__content global-settings-popup"
          tabindex="-1"
        >
          {% assign request_parent = quick_add_modal %}
          <div class="visually-hidden">{{ request_parent }}</div>
          <div class="quick-add-modal-header">
            <button
              id="ModalClose-{{ card_product.id }}"
              type="button"
              class="quick-add-modal__toggle"
              aria-label="{{ 'accessibility.close' | t }}"
            >
              {% render 'icon-close' %}
            </button>
          </div>
          <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
        </div>
      </quick-add-modal>
    {%- else -%}
      <product-form data-section-id="{{ section.id }}">
        {%- form 'product',
          card_product,
          id: product_form_id,
          class: 'form',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          <input
            type="hidden"
            name="id"
            value="{{ card_product.selected_or_first_available_variant.id }}"
            {% if card_product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
          <button
            id="{{ product_form_id }}-submit"
            type="submit"
            name="add"
            class="quick-add__submit button"
            aria-haspopup="dialog"
            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
            aria-live="polite"
            data-sold-out-message="true"
            {% if card_product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
            <span class="qa-label">
              {%- if card_product.selected_or_first_available_variant.available -%}
                {{ 'products.product.add' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </span>
            <span class="sold-out-message hidden">
              {{ 'products.product.sold_out' | t }}
            </span>
            {%- if quick_add_button_style == 'icon' -%}
            <div class="qa-label-icon">{% render 'icon-quick-add' %}</div>
            {%- endif -%}
            <div class="loading__spinner hidden">
              <svg
                aria-hidden="true"
                focusable="false"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </button>
        {%- endform -%}
      </product-form>
    {%- endif -%}
  </div>
  </div>
{%- endif -%}

</div>
  
</div>