<div
  class="accordion product-why-we-love-this {{ extra_class }} product-why-we-love-this--icon-{{ section_settings.product_detail_icon_style }}"
  style="
    --pdp-why-margin-top: {{ section_settings.product_detail_margin_top }}px;
    --pdp-why-margin-bottom: {{ section_settings.product_detail_margin_bottom }}px;
    --pdp-why-padding-y: {{ section_settings.product_detail_padding_vertical }}px;
    --pdp-why-title-size-mobile: {{ section_settings.product_detail_title_size_mobile }}px;
    --pdp-why-title-size-desktop: {{ section_settings.product_detail_title_size_desktop }}px;
    --pdp-why-title-weight: {{ section_settings.product_detail_title_weight }};
    --pdp-why-body-size-mobile: {{ section_settings.product_detail_body_size_mobile }}px;
    --pdp-why-body-size-desktop: {{ section_settings.product_detail_body_size_desktop }}px;
    --pdp-why-body-padding-top: {{ section_settings.product_detail_body_padding_top }}px;
    --pdp-why-icon-size: {{ section_settings.product_detail_icon_size }}px;
    --pdp-why-icon-color: {{ section_settings.product_detail_icon_color }};
    --pdp-why-border-width: {{ section_settings.product_detail_border_width }}px;
    --pdp-why-title-color: {{ section_settings.product_detail_title_color }};
    --pdp-why-body-color: {{ section_settings.product_detail_body_color }};
    --pdp-why-border-color: {{ section_settings.product_detail_border_color }};
    --pdp-materials-tick-color: {{ section_settings.product_detail_tick_color }};
    {{ extra_style }}
  "
  {{ block.shopify_attributes }}
>
  <button class="accordion-title{% if expanded_initial_state == true %} active{% endif %}" aria-expanded="{{ expanded_initial_state }}" aria-controls="{{ block.id }}-{{ section_id }}-{{ panel_id }}" id="{{ block.id }}-{{ section_id }}-{{ button_id }}">
    {{ block.settings.heading }}
    <div class="accordion-icons-wrapper">
      {% unless section_settings.product_detail_icon_style == 'none' %}
        <div class="accordion-icon-open">
          {% if section_settings.product_detail_icon_style == 'plus' %}
            {% render 'icon-plus' %}
          {% elsif section_settings.product_detail_icon_style == 'custom' %}
            <span class="product-why-we-love-this__custom-icon">{{ section_settings.product_detail_custom_icon_open }}</span>
          {% else %}
            {% render 'icon-caret' %}
          {% endif %}
        </div>
        <div class="accordion-icon-close">
          {% if section_settings.product_detail_icon_style == 'plus' %}
            {% render 'icon-minus' %}
          {% elsif section_settings.product_detail_icon_style == 'custom' %}
            <span class="product-why-we-love-this__custom-icon">{{ section_settings.product_detail_custom_icon_close }}</span>
          {% else %}
            {% render 'icon-caret' %}
          {% endif %}
        </div>
      {% endunless %}
    </div>
  </button>
  <div class="accordion-panel rte{% if expanded_initial_state == true %} panel-open{% endif %}" id="{{ block.id }}-{{ section_id }}-{{ panel_id }}" {% if expanded_initial_state == true %}aria-hidden="false"{% else %}aria-hidden="true"{% endif %} aria-labelledby="{{ block.id }}-{{ section_id }}-{{ button_id }}">
    <div class="product-why-we-love-this__panel-inner">
      {{ content }}
    </div>
  </div>
</div>
