{% unless settings.social_instagram_link == blank and settings.social_facebook_link == blank and settings.social_twitter_link == blank and settings.social_youtube_link == blank and settings.social_vimeo_link == blank and settings.social_tiktok_link == blank and settings.social_snapchat_link == blank and settings.social_pinterest_link == blank and settings.social_spotify_link == blank and settings.social_strava_link == blank and settings.social_linkedin_link == blank %}
<ul>
{% if settings.social_instagram_link != blank %}<li><a href="{{ settings.social_instagram_link }}" target="_blank" rel="nofollow,noopener">{{ 'general.social.links.instagram' | t }}</a></li>{% endif %}
{% if settings.social_facebook_link != blank %}<li><a href="{{ settings.social_facebook_link }}" target="_blank" rel="nofollow,noopener">{{ 'general.social.links.facebook' | t }}</a></li>{% endif %}
{% if settings.social_twitter_link != blank %}<li><a href="{{ settings.social_twitter_link }}" target="_blank" rel="nofollow,noopener">{{ 'general.social.links.twitter' | t }}</a></li>{% endif %}
{% if settings.social_youtube_link != blank %}<li><a href="{{ settings.social_youtube_link }}" target="_blank" rel="nofollow,noopener">{{ 'general.social.links.youtube' | t }}</a></li>{% endif %}
{% if settings.social_vimeo_link != blank %}<li><a href="{{ settings.social_vimeo_link }}" target="_blank" rel="nofollow,noopener">{{ 'general.social.links.vimeo' | t }}</a></li>{% endif %}
{% if settings.social_tiktok_link != blank %}<li><a href="{{ settings.social_tiktok_link }}" target="_blank" rel="nofollow,noopener">{{ 'general.social.links.tiktok' | t }}</a></li>{% endif %}
{% if settings.social_snapchat_link != blank %}<li><a href="{{ settings.social_snapchat_link }}" target="_blank" rel="nofollow,noopener">{{ 'general.social.links.snapchat' | t }}</a></li>{% endif %}
{% if settings.social_pinterest_link != blank %}<li><a href="{{ settings.social_pinterest_link }}" target="_blank" rel="nofollow,noopener">{{ 'general.social.links.pinterest' | t }}</a></li>{% endif %}
{% if settings.social_spotify_link != blank %}<li><a href="{{ settings.social_spotify_link }}" target="_blank" rel="nofollow,noopener">{{ 'general.social.links.spotify' | t }}</a></li>{% endif %}
{% if settings.social_strava_link != blank %}<li><a href="{{ settings.social_strava_link }}" target="_blank" rel="nofollow,noopener">{{ 'general.social.links.strava' | t }}</a></li>{% endif %}
{% if settings.social_linkedin_link != blank %}<li><a href="{{ settings.social_linkedin_link }}" target="_blank" rel="nofollow,noopener">{{ 'general.social.links.linkedin' | t }}</a></li>{% endif %}
</ul>
{% endunless %}