{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  
.section-{{ section.id }} .section-inner {
  padding-top: {{ section.settings.top_padding }}px;
  padding-bottom: {{ section.settings.bottom_padding }}px;  
}

@media only screen and (min-width: 950px) {
  .section-{{ section.id }} .image-with-text--text.vertical-align--top {
    padding-top: {{ section.settings.txt_vertical_padding }}px;
  }
  .section-{{ section.id }} .image-with-text--text.vertical-align--bottom {
    padding-bottom: {{ section.settings.txt_vertical_padding }}px;
  }
}
  
{% if section.settings.image_alignment == 'right' %}
.section-{{ section.id }} .image-with-text--image {
  order: 2;
}  
{% endif %}

{% if section.settings.txt_alignment == 'center' %}
.section-{{ section.id }} .image-with-text--text {
  text-align: center;
} 
.section-{{ section.id }} .image-with-text--inset-image {
  margin: 0 auto;
}
{% endif %}
{% if section.settings.txt_alignment == 'right' %}
.section-{{ section.id }} .image-with-text--text {
  text-align: right;
} 
{% endif %} 
  
{%- endstyle -%}

{% if section.settings.card_spacing == 0 %}
{% assign card_space = 'grid-card-spacing-zero' %}
{% endif %}
{% if section.settings.card_spacing == 10 %}
{% assign card_space = 'grid-card-spacing-ten' %}
{% endif %}
{% if section.settings.card_spacing == 20 %}
{% assign card_space = 'grid-card-spacing-twenty' %}
{% endif %}
{% if section.settings.card_spacing == 30 %}
{% assign card_space = 'grid-card-spacing-thirty' %}
{% endif %}
{% if section.settings.card_spacing == 40 %}
{% assign card_space = 'grid-card-spacing-fourty' %}
{% endif %}
{% if section.settings.card_spacing == 50 %}
{% assign card_space = 'grid-card-spacing-fifty' %}
{% endif %}
{% if section.settings.card_spacing == 60 %}
{% assign card_space = 'grid-card-spacing-sixty' %}
{% endif %}

{%- liquid
  assign product = section.settings.product
-%}

<div class="section-container section-image-with-text section-featured-product section-{{ section.id }} color-scheme-{{ section.settings.text_color }} color-scheme-{{ section.settings.bg_color }}">

{% if section.settings.top_border %}
<hr class="section-border section-border-color-{{ section.settings.border_color }} section-border-width-{{ section.settings.border_width }}">
{% endif %}
  
<div class="section-inner">
<div class="image-with-text-content-container{% if section.settings.card_spacing > 0 or section.settings.inner_padding > 0 %} std-page-padding{% endif %} {{ section.settings.content_width | escape }} {{ card_space }}">

<div class="image-with-text--image media-width-{{ section.settings.main_media_width }} image-ratio-{{ section.settings.image_ratio }}">

<div class="image-cover-container">
<div class="image-cover-wrapper{% if section.settings.video != null %} autoplaying-video{% endif %}">
{% if product %}<a href="{{ product.url }}">{% endif %}

{% if section.settings.video == null and section.settings.image == blank %}
  {% render 'media-placeholder-product', sequence_number: 11 %}
{% endif %}
  
{% if section.settings.video != null %}
{% assign video_id = 'video-' | append: section.id %}
  {{
    section.settings.video
    | video_tag:
      id: video_id,
      image_size: '1600x',
      autoplay: true,
      loop: true,
      controls: false,
      muted: true,
      loading: 'lazy'
  }}
{% endif %}

{% if section.settings.video == null and section.settings.image != blank %}  

{% assign image_render_size = 1800 %}
{% if section.settings.main_media_width < 40 %}
  {% assign image_render_size = 1600 %}
{% endif %}
{% if section.settings.main_media_width < 30 %}
  {% assign image_render_size = 1200 %}
{% endif %}

{{ section.settings.image | image_url: width: image_render_size | image_tag: loading: 'lazy' }}
{% endif %}

{% if product %}</a>{% endif %}
</div>
</div>  

</div>

<div class="image-with-text--text vertical-align--{{ section.settings.txt_vertical_alignment }}">
<div class="image-with-text--content">
{% if section.settings.secondary_image %}

{% assign secondary_image_width = 400 %}
{% if section.settings.secondary_image_scale == 'medium' %}
{% assign secondary_image_width = 600 %}
{% endif %}
{% if section.settings.secondary_image_scale == 'large' %}
{% assign secondary_image_width = 800 %}
{% endif %}

<div class="image-with-text--inset-image inset-image-{{ section.settings.secondary_image_scale }}">
{% if product %}<a href="{{ product.url }}">{% endif %}
{{ section.settings.secondary_image | image_url: width: secondary_image_width | image_tag: loading: 'lazy' }}
{% if product %}</a>{% endif %}
</div> 
{% endif %}

{% if section.settings.show_tag %}

{% for tag in section.settings.product.tags %}
{% if tag contains 'Badge:' %}
<span class="fp-tag">{{ tag | remove: 'Badge: '}}</span>
{% endif %}
{% endfor %}

{% assign badges = section.settings.product.metafields.custom.badges %}
{% if badges != blank %}
  {% for badge in badges.value %}
    <span class="fp-tag">{{ badge }}</span>
  {% endfor %}
{% endif %}

{% endif %}  
  
{% for block in section.blocks %}

{% case block.type %}

{% when '@app' %}
{% render block %}

{% when 'custom_liquid' %}

<div class="fp-custom-code-block" {{ block.shopify_attributes }}>
{{ block.settings.custom_liquid }}
</div>
  
{% when 'sku' %}
<style>
.section-{{ section.id }} .fp-sku-block {
  padding-top: {{ block.settings.block_padding_top }}px;
  padding-bottom: {{ block.settings.block_padding_bottom }}px;
}  
</style>
{% if product == blank %}
<div class="fp-sku-block text-small" {{ block.shopify_attributes }}>
  LU-XXX-E
</div>  
{% endif %}
{% if product != blank and product.sku != blank %}
<div class="fp-sku-block text-small" {{ block.shopify_attributes }}>
  {{ product.sku }}
</div>
{% endif %}

{% when 'caption' %}

<style>
.section-{{ section.id }} .section-label {
  padding-top: {{ block.settings.block_padding_top }}px;
  padding-bottom: {{ block.settings.block_padding_bottom }}px;
}  
</style>
  
<div class="section-label" {{ block.shopify_attributes }}>{{ block.settings.caption }}</div>

{% when 'collapsible_row' %}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
  
<div class="accordion" {{ block.shopify_attributes }}>
<button class="accordion-title" tabindex="0" aria-expanded="false" role="button" aria-controls="AccContent-{{ block.id }}-{{ section.id }}" id="AccHeading-{{ block.id }}-{{ section.id }}"><span>{{ block.settings.row_heading }}</span>
<div class="accordion-icons-wrapper">
<div class="accordion-icon-open">{% if settings.accordion_icon == 'plus' %}{% render 'icon-plus' %}{% else %}{% render 'icon-caret' %}{% endif %}</div>
<div class="accordion-icon-close">{% if settings.accordion_icon == 'plus' %}{% render 'icon-minus' %}{% else %}{% render 'icon-caret' %}{% endif %}</div>
</div>
</button>
<div class="accordion-panel" role="region" aria-hidden="true" aria-labelledby="AccHeading-{{ block.id }}-{{ section.id }}" id="AccContent-{{ block.id }}-{{ section.id }}">
{{ block.settings.row_text }}
</div>
</div>
  

{% when 'price' %}

<style>
.section-{{ section.id }} .featured-product--price {
  padding-top: {{ block.settings.block_padding_top }}px;
  padding-bottom: {{ block.settings.block_padding_bottom }}px;
}  
</style>
  
<div class="featured-product--price" {{ block.shopify_attributes }}>
  {% render 'price', product: product, show_discounts: block.settings.price_show_discount %}
  {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
    {% if block.settings.price_show_taxes %}
    <div class="product__tax caption rte">
      {%- if shop.taxes_included -%}
        {{ 'products.product.include_taxes' | t }}
      {%- endif -%}
      {%- if shop.shipping_policy.body != blank -%}
        {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
      {%- endif -%}
    </div>
   {% endif %}
  {%- endif -%}
</div>

{% when 'title' %}
  
<h2 class="{{ block.settings.heading_size | escape }}" {{ block.shopify_attributes }}>
{% if product.title != blank %}
  {{ product.title }}
  {% else %}
  {{ 'onboarding.product_title' | t }}
{% endif %}
</h2>

{% when 'description' %}  

<style>
.section-{{ section.id }} .featured-product--description {
  padding-top: {{ block.settings.block_padding_top }}px;
  padding-bottom: {{ block.settings.block_padding_bottom }}px;
}  
</style>
  
<div class="rte featured-product--description" {{ block.shopify_attributes }}>
{{ block.settings.description }}
</div>
  
{% when 'button' %}

{% assign button_class = 'button button--solid' %}
{% if block.settings.button_style == 'outline' %}
{% assign button_class = 'button button--outline' %}
{% endif %}
{% if block.settings.button_style == 'link' %}
{% assign button_class = 'link--underlined' %}
{% endif %}
  
{% if block.settings.button_type == 'buy' and section.settings.product != blank %}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  
<div class="image-with-text-footer button-color-scheme--{{ section.settings.btn_color_scheme }} button-width-mobile--{{ block.settings.button_width_mobile }} button-width-desktop--{{ block.settings.button_width_desktop }}" {{ block.shopify_attributes }}>
  <div class="featured-product-quick-add">
  <div class="quick-add no-js-hidden">
    {%- liquid
      assign product_form_id = 'quick-add-' | append: section.id | append: product.id
      assign qty_rules = false
      if product.selected_or_first_available_variant.quantity_rule.min > 1 or product.selected_or_first_available_variant.quantity_rule.max != null or product.selected_or_first_available_variant.quantity_rule.increment > 1
        assign qty_rules = true
      endif
    -%}
    {%- if product.variants.size > 1 or qty_rules -%}
        <a class="quick-add-f-button {{ button_class }}" href="{{ product.url }}">
            <span>
              {%- if product.selected_or_first_available_variant.available -%}
                {{ 'products.product.choose_options' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </span>      
        </a>
    {%- else -%}
      <product-form>
        {%- form 'product',
          product,
          id: product_form_id,
          class: 'form',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          <input
            type="hidden"
            name="id" data-productid="{{ product.id }}"
            value="{{ product.selected_or_first_available_variant.id }}"
            disabled
          >
          <button
            id="{{ product_form_id }}-submit"
            type="submit"
            name="add"
            class="quick-add__submit {{ button_class }}"
            aria-haspopup="dialog"
            aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ product.id }}"
            aria-live="polite"
            data-sold-out-message="true"
            {% if product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
            <span>
              {%- if product.selected_or_first_available_variant.available -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </span>
            <span class="sold-out-message hidden">
              {{ 'products.product.sold_out' | t }}
            </span>
            <div class="loading__spinner hidden">
              <svg
                aria-hidden="true"
                focusable="false"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </button>
        {%- endform -%}
      </product-form>
    {%- endif -%}
  </div>
  </div>
  
</div>
  
{% else %}

<div class="image-with-text-footer button-color-scheme--{{ section.settings.btn_color_scheme }} button-width-mobile--{{ block.settings.button_width_mobile }} button-width-desktop--{{ block.settings.button_width_desktop }}" {{ block.shopify_attributes }}>
{% if section.settings.product == blank %}
  <a href="#" class="{{ button_class }}">{{ 'sections.featured_product.onboarding_shop_now'  | t }}</a>
{% else %}
  <a href="{{ product.url }}" role="link" class="{{ button_class }}">{{ block.settings.button_text }}</a>
{% endif %}
</div>

{% endif %}
  
{% endcase %}
  
{% endfor %}

</div>
</div>
</div>
</div>  

{% if section.settings.bottom_border %}
<hr class="section-border section-border-color-{{ section.settings.border_color }} section-border-width-{{ section.settings.border_width }}">
{% endif %}
  
</div>

{% schema %}
  {
    "name": "t:sections.featured-product.name",
    "tag": "section",
    "class": "section",    
    "disabled_on": {
      "groups": ["header", "footer"],
      "templates": ["password", "cart"]
    },
    "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.featured-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.featured-product.blocks.custom_liquid.name"
        }
      ]
    },
    {
      "type": "collapsible_row",
      "name": "t:sections.all.collapsible_row",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "row_heading",
          "default": "Heading",
          "label": "t:sections.all.heading"
        },
        {
          "type": "richtext",
          "id": "row_text",
          "label": "t:sections.all.text"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.featured-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "price_show_discount",
          "default": true,
          "label": "t:sections.main-product.blocks.price.settings.show_discount.label"
        },
        {
          "type": "checkbox",
          "id": "price_show_taxes",
          "default": true,
          "label": "t:sections.featured-product.blocks.price.settings.show_taxes.label"
        },
        {
          "type": "range",
          "id": "block_padding_top",
          "min": 0,
          "max": 80,
          "step": 5,
          "unit": "px",
          "default": 10,
          "label": "t:sections.all.padding.padding_top"
        },
        {
          "type": "range",
          "id": "block_padding_bottom",
          "min": 0,
          "max": 80,
          "step": 5,
          "unit": "px",
          "default": 10,
          "label": "t:sections.all.padding.padding_bottom"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.featured-product.blocks.caption.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.all.caption"
        },
        {
          "type": "range",
          "id": "block_padding_top",
          "min": 0,
          "max": 80,
          "step": 5,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.padding.padding_top"
        },
        {
          "type": "range",
          "id": "block_padding_bottom",
          "min": 0,
          "max": 80,
          "step": 5,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.padding.padding_bottom"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.featured-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.small.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.normal.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.large.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.featured-product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.all.description"
        },
        {
          "type": "range",
          "id": "block_padding_top",
          "min": 0,
          "max": 80,
          "step": 5,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.padding.padding_top"
        },
        {
          "type": "range",
          "id": "block_padding_bottom",
          "min": 0,
          "max": 80,
          "step": 5,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.padding.padding_bottom"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.featured-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "button_type",
          "options": [
            {
              "value": "buy",
              "label": "t:sections.featured-product.blocks.buy_buttons.settings.button_type.options__1.label"
            },
            {
              "value": "link",
              "label": "t:sections.featured-product.blocks.buy_buttons.settings.button_type.options__2.label"
            }
          ],
          "default": "buy",
          "label": "t:sections.featured-product.blocks.buy_buttons.settings.button_type.label"
        },
        {
          "type": "text",
          "id": "button_text",
          "default": "Shop now",
          "label": "t:sections.featured-product.blocks.buy_buttons.settings.button_label.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.buttons.button_style_solid"
            },
            {
              "value": "outline",
              "label": "t:sections.all.buttons.button_style_outline"
            },
            {
              "value": "link",
              "label": "t:sections.all.buttons.button_style_link"
            }
          ],
          "default": "solid",
          "label": "t:sections.all.buttons.button_style"
        },
        {
          "type": "select",
          "id": "button_width_mobile",
          "label": "t:sections.all.buttons.button_width_mobile",
          "options": [
            {
              "value": "default",
              "label": "t:sections.all.default"
            },
            {
              "value": "full-width",
              "label": "t:sections.all.full_width"
            }
        ],
          "default": "full-width"
        },
        {
          "type": "select",
          "id": "button_width_desktop",
          "label": "t:sections.all.buttons.button_width_desktop",
          "options": [
            {
              "value": "default",
              "label": "t:sections.all.default"
            },
            {
              "value": "full-width",
              "label": "t:sections.all.full_width"
            }
        ],
          "default": "default"
        }
      ]
    },
    {
      "type": "sku",
      "name": "t:sections.featured-product.blocks.sku.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "block_padding_top",
          "min": 0,
          "max": 80,
          "step": 5,
          "unit": "px",
          "default": 10,
          "label": "t:sections.all.padding.padding_top"
        },
        {
          "type": "range",
          "id": "block_padding_bottom",
          "min": 0,
          "max": 80,
          "step": 5,
          "unit": "px",
          "default": 10,
          "label": "t:sections.all.padding.padding_bottom"
        }        
      ]
    }
    ],
    "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured-product.settings.product.label"
    },
    {
      "type": "checkbox",
      "id": "show_tag",
      "default": false,
      "label": "t:sections.featured-product.settings.show_tag.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-product.settings.header_media.content"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.featured-product.settings.video.label",
      "info": "t:sections.featured-product.settings.video.info"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.featured-product.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.all.ratio.media_ratio",
      "options": [
        {
          "value": "portrait",
          "label": "t:sections.all.ratio.portrait_4_5"
        },
        {
          "value": "portrait-4x6",
          "label": "t:sections.all.ratio.portrait_4_6"
        },
        {
          "value": "square",
          "label": "t:sections.all.ratio.square"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.ratio.landscape"
        },
        {
          "value": "fit",
          "label": "t:sections.all.ratio.adapt_to_media"
        }
        ],
      "default": "portrait"
    },
    {
      "type": "range",
      "id": "main_media_width",
      "min": 25,
      "max": 50,
      "step": 5,
      "unit": "%",
      "default": 50,
      "label": "t:sections.featured-product.settings.media_width.label"
    },
    {
      "type": "image_picker",
      "id": "secondary_image",
      "label": "t:sections.featured-product.settings.secondary_image.label"
    },
    {
      "type": "select",
      "id": "secondary_image_scale",
      "label": "t:sections.featured-product.settings.secondary_image_size.label",
      "options": [
        {
          "value": "micro",
          "label": "t:sections.all.size.micro"
        },
        {
          "value": "small",
          "label": "t:sections.all.size.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.size.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.size.large"
        }
    ],
      "default": "small"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "text_color",
      "options": [
        {
          "value": "fg-body",
          "label": "t:sections.all.colors.background_body.label"
        },
        {
          "value": "fg-01",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "fg-02",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "fg-03",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "fg-04",
          "label": "t:sections.all.colors.accent_4.label"
        },
        {
          "value": "fg-05",
          "label": "t:sections.all.colors.accent_5.label"
        }
      ],
      "default": "fg-body",
      "label": "t:sections.all.colors.text_color.label"
    },
    {
      "type": "select",
      "id": "bg_color",
      "options": [
        {
          "value": "bg-body",
          "label": "t:sections.all.colors.background_body.label"
        },
        {
          "value": "bg-01",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "bg-02",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "bg-03",
          "label": "t:sections.all.colors.background_3.label"
        },
        {
          "value": "bg-04",
          "label": "t:sections.all.colors.background_4.label"
        },
        {
          "value": "bg-05",
          "label": "t:sections.all.colors.background_5.label"
        },
        {
          "value": "bg-06",
          "label": "Background 6"
        },
        {
          "value": "bg-07",
          "label": "Background 7"
        },
        {
          "value": "bg-08",
          "label": "Background 8"
        },
        {
          "value": "bg-09",
          "label": "Background 9"
        }
      ],
      "default": "bg-body",
      "label": "t:sections.all.colors.background_color.label"
    },
    {
        "type": "select",
        "id": "btn_color_scheme",
        "label": "t:sections.all.buttons.button_color_scheme",
        "options": [
        {
        "value": "default",
        "label": "t:sections.all.default"
        },
        {
        "value": "match-section",
        "label": "t:sections.all.buttons.button_color_scheme_match"
        }
        ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "t:sections.all.border"
    },
    {
      "type": "checkbox",
      "id": "top_border",
      "default": false,
      "label": "t:sections.all.border_top"
    },
    {
      "type": "checkbox",
      "id": "bottom_border",
      "default": false,
      "label": "t:sections.all.border_bottom"
    },
    {
      "type": "select",
      "id": "border_width",
      "label": "t:sections.all.width",
      "options": [
        {
          "value": "normal",
          "label": "t:sections.all.normal"
        },
        {
          "value": "full",
          "label": "t:sections.all.full_width"
        }
        ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "border_color",
      "label": "t:sections.all.border_color",
      "options": [
        {
          "value": "dark",
          "label": "t:sections.all.colors.dark.label"
        },
        {
          "value": "light",
          "label": "t:sections.all.colors.light.label"
        }
        ],
      "default": "dark"
    },
    {
      "type": "header",
      "content": "t:sections.all.layout"
    },
    {
      "type": "select",
      "id": "txt_alignment",
      "label": "t:sections.all.alignment.text_alignment_heading",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.alignment.left"
        },
        {
          "value": "center",
          "label": "t:sections.all.alignment.center"
        }
    ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "txt_vertical_alignment",
      "label": "t:sections.all.alignment.vertical_alignment",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.alignment.top"
        },
        {
          "value": "middle",
          "label": "t:sections.all.alignment.middle"
        }
    ],
      "default": "middle"
    },
    {
      "type": "range",
      "id": "txt_vertical_padding",
      "min": 0,
      "max": 80,
      "step": 5,
      "unit": "px",
      "default": 0,
      "label": "t:sections.all.layouts.vertical_padding"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:sections.all.margin",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.all.default"
        },
        {
          "value": "page-width-full-grid",
          "label": "t:sections.all.full_width"
        }
    ],
      "default": "page-width"
    },
    {
      "type": "select",
      "id": "image_alignment",
      "label": "t:sections.featured-product.settings.media_position.label",
      "info": "t:sections.featured-product.settings.media_position.info",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.alignment.left"
        },
        {
          "value": "right",
          "label": "t:sections.all.alignment.right"
        }
    ],
      "default": "right"
    },
    {
      "type": "range",
      "id": "card_spacing",
      "min": 0,
      "max": 60,
      "step": 10,
      "unit": "px",
      "default": 20,
      "label": "t:sections.all.layouts.horizontal_spacing"
    },
    {
      "type": "range",
      "id": "top_padding",
      "min": 0,
      "max": 160,
      "step": 10,
      "unit": "px",
      "default": 80,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "min": 0,
      "max": 160,
      "step": 10,
      "unit": "px",
      "default": 80,
      "label": "t:sections.all.padding.padding_bottom"
    }
    ],
  "presets": [
    {
      "name": "t:sections.featured-product.presets.name",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "price"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
