{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }} .section-inner {
  padding-top: {{ section.settings.top_padding | times: 0.8 }}px;
  padding-bottom: {{ section.settings.bottom_padding | times: 0.8 }}px;  
}

.section-{{ section.id }} .image-with-text--text {
  padding-top: {{ section.settings.txt_padding_top_mobile }}px;
  padding-bottom: {{ section.settings.txt_padding_bottom_mobile }}px;  
}

@media only screen and (min-width: 750px) {
  .section-{{ section.id }} .section-inner {
    padding-top: {{ section.settings.top_padding }}px;
    padding-bottom: {{ section.settings.bottom_padding }}px;
  }  
}

@media only screen and (min-width: 950px) {
  .section-{{ section.id }} .image-with-text--text {
    padding-top: {{ section.settings.txt_vertical_padding }}px;
    padding-bottom: {{ section.settings.txt_vertical_padding }}px;
  }
}
  
{% if section.settings.image_alignment == 'right' %}
.section-{{ section.id }} .image-with-text--image {
  order: 2;
}  
{% endif %}

{% if section.settings.txt_alignment == 'center' %} 
.section-{{ section.id }} .image-with-text--inset-image {
  margin: 0 auto;
}
{% endif %}

@media only screen and (min-width: 950px) {
  .iwt-dt-img-position--right .iwt-vborder .image-cover-container::after {
    content: "";
    position: absolute;
    height: calc(100% + {{ section.settings.top_padding | times: 2 }}px);
    width: 1px;
    background: rgba(0,0,0,var(--section-border-opacity));
    top: -{{ section.settings.top_padding }}px;
    left: -{{ section.settings.card_spacing | divided_by: 2 }}px;
  }
  .iwt-dt-img-position--left .iwt-vborder .image-cover-container::after {
    content: "";
    position: absolute;
    height: calc(100% + {{ section.settings.top_padding | times: 2 }}px);
    width: 1px;
    background: rgba(0,0,0,var(--section-border-opacity));
    top: -{{ section.settings.top_padding }}px;
    left: auto;
    right: -{{ section.settings.card_spacing | divided_by: 2 }}px;
  }
  .iwt-vborder.iwt-vborder-color-light .image-cover-container::after {
    background: rgba(255,255,255,var(--section-border-opacity));
  }
}

{%- endstyle -%}

{% if section.settings.card_spacing == 0 %}
{% assign card_space = 'grid-card-spacing-zero' %}
{% endif %}
{% if section.settings.card_spacing == 10 %}
{% assign card_space = 'grid-card-spacing-ten' %}
{% endif %}
{% if section.settings.card_spacing == 20 %}
{% assign card_space = 'grid-card-spacing-twenty' %}
{% endif %}
{% if section.settings.card_spacing == 30 %}
{% assign card_space = 'grid-card-spacing-thirty' %}
{% endif %}
{% if section.settings.card_spacing == 40 %}
{% assign card_space = 'grid-card-spacing-fourty' %}
{% endif %}
{% if section.settings.card_spacing == 50 %}
{% assign card_space = 'grid-card-spacing-fifty' %}
{% endif %}
{% if section.settings.card_spacing == 60 %}
{% assign card_space = 'grid-card-spacing-sixty' %}
{% endif %}
{% if section.settings.card_spacing == 70 %}
{% assign card_space = 'grid-card-spacing-seventy' %}
{% endif %}
{% if section.settings.card_spacing == 80 %}
{% assign card_space = 'grid-card-spacing-eighty' %}
{% endif %}
{% if section.settings.card_spacing == 90 %}
{% assign card_space = 'grid-card-spacing-ninety' %}
{% endif %}
{% if section.settings.card_spacing == 100 %}
{% assign card_space = 'grid-card-spacing-hundred' %}
{% endif %}
{% if section.settings.card_spacing == 110 %}
{% assign card_space = 'grid-card-spacing-hundred-ten' %}
{% endif %}
{% if section.settings.card_spacing == 120 %}
{% assign card_space = 'grid-card-spacing-hundred-twenty' %}
{% endif %}

<div class="section-container section-image-with-text iwt-{{ section.settings.section_size }} iwt-dt-layout-{{ section.settings.dt_image_width }} iwt-dt-img-position--{{ section.settings.image_alignment }} section-{{ section.id }} color-scheme-{{ section.settings.text_color }} color-scheme-{{ section.settings.bg_color }}">

{% if section.settings.top_border %}
<hr class="section-border section-border-color-{{ section.settings.border_color }} section-border-width-{{ section.settings.border_width }}">
{% endif %}
  
<div class="section-inner{% if section.settings.border_vertical %} iwt-vborder iwt-vborder-color-{{ section.settings.border_color }}{% endif %}">
<div class="image-with-text-content-container{% if section.settings.card_spacing > 0 or section.settings.inner_padding > 0 %} std-page-padding{% endif %} {{ section.settings.content_width | escape }} {{ card_space }}">

<div class="image-with-text--image image-ratio-{{ section.settings.image_ratio }}">

<div class="image-cover-container">
<div class="image-cover-wrapper">
{% if section.settings.image %}
{% assign image_render_size = 1800 %}
{% if section.settings.dt_image_width < 50 %}
  {% assign image_render_size = 1600 %}
{% endif %}
{% if section.settings.dt_image_width < 60 %}
  {% assign image_render_size = 2000 %}
{% endif %}
{{ section.settings.image | image_url: width: image_render_size | image_tag: loading: 'lazy', widths: '375, 550, 750, 990, 1200, 1500, 1800', sizes: '(min-width: 750px) 50vw, 100vw' }}
{% elsif section.settings.image_asset_filename != blank %}
{{ section.settings.image_asset_filename | asset_url | image_tag: loading: 'lazy' }}
{% else %}
{% render 'media-placeholder-scenic', style: 1 %}
{% endif %}
</div>
</div>

</div>

<div class="image-with-text--text align-{{ section.settings.txt_alignment }} vertical-align--{{ section.settings.txt_vertical_alignment }} iwt-text-width--{{ section.settings.text_width }} iwt-text-hoz-position--{{ section.settings.text_horizontal_position }}">
<div class="image-with-text--content">
{% if section.settings.secondary_image %}
{% assign image_width = 400 %}
{% if section.settings.secondary_image_scale == 'medium' %}
{% assign image_width = 600 %}
{% endif %}
{% if section.settings.secondary_image_scale == 'large' %}
{% assign image_width = 800 %}
{% endif %}
<div class="image-with-text--inset-image inset-image-{{ section.settings.secondary_image_scale }}">
{{ section.settings.secondary_image | image_url: width: image_width | image_tag: loading: 'lazy', widths: '180, 280, 400, 600, 800', sizes: '(min-width: 750px) 400px, 60vw' }}
</div> 
{% endif %}

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'caption' %}
    <div class="section-label" {{ block.shopify_attributes }}>{{ block.settings.caption }}</div>
    {% when 'heading' %}
    <h2 class="{{ block.settings.heading_size | escape }}" {{ block.shopify_attributes }}>{{ block.settings.heading }}</h2>
    {% when 'text' %}
    <div class="rte image-with-text-description text-{{ block.settings.text_size }}" {{ block.shopify_attributes }}>
      {{ block.settings.description }}
    </div>
    {% when 'button' %}
    <div class="image-with-text-footer button-width--{{ block.settings.button_width_mobile }}{% if block.settings.btn_two_enable %} image-with-text-footer--two-button layout-{{ block.settings.button_layout }}{% endif %} button-color-scheme--{{ block.settings.btn_color_scheme }}" {{ block.shopify_attributes }}>
    {% if block.settings.btn_style == 'solid' %}
	  <a href="{{ block.settings.btn_link }}" role="link" class="button button--solid">{{ block.settings.btn_txt }}</a>
    {% endif %}
    {% if block.settings.btn_style == 'outline' %}
	  <a href="{{ block.settings.btn_link }}" role="link" class="button button--outline">{{ block.settings.btn_txt }}</a>
    {% endif %}
    {% if block.settings.btn_style == 'link' %}
	  <a href="{{ block.settings.btn_link }}" role="link" class="link--underlined">{{ block.settings.btn_txt }}</a>
    {% endif %}

    {% if block.settings.btn_two_enable %}
    {% if block.settings.btn_two_style == 'solid' %}
	  <a href="{{ block.settings.btn_two_link }}" role="link" class="button button--solid iwt-secondary-button">{{ block.settings.btn_two_txt }}</a>
    {% endif %}
    {% if block.settings.btn_two_style == 'outline' %}
	  <a href="{{ block.settings.btn_two_link }}" role="link" class="button button--outline iwt-secondary-button">{{ block.settings.btn_two_txt }}</a>
    {% endif %}
    {% if block.settings.btn_two_style == 'link' %}
	  <a href="{{ block.settings.btn_two_link }}" role="link" class="link--underlined iwt-secondary-button">{{ block.settings.btn_two_txt }}</a>
    {% endif %}      
    {% endif %}
      
    </div>
  {% endcase %}
{% endfor %}

</div>
</div>
</div>
</div> 

{% if section.settings.bottom_border %}
<hr class="section-border section-border-color-{{ section.settings.border_color }} section-border-width-{{ section.settings.border_width }}">
{% endif %}
  
</div>

{% schema %}
  {
    "name": "t:sections.image-with-text.name",
  	"tag": "section",
  	"class": "section",    
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
    {
      "type": "header",
      "content": "t:sections.all.layout"
    },
    {
      "type": "select",
      "id": "section_size",
      "label": "t:sections.image-with-text.settings.section_height.label",
      "options": [
        {
          "value": "flexible",
          "label": "t:sections.image-with-text.settings.section_height.options__1.label"
        },
        {
          "value": "screen-height",
          "label": "t:sections.image-with-text.settings.section_height.options__2.label"
        }
        ],
      "default": "flexible"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:sections.all.margin",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.all.default"
        },
        {
          "value": "page-width-full-grid",
          "label": "t:sections.all.full_width"
        }
		],
      "default": "page-width"
    },
    {
      "type": "select",
      "id": "image_alignment",
      "label": "t:sections.image-with-text.settings.desktop_image_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.alignment.left"
        },
        {
          "value": "right",
          "label": "t:sections.all.alignment.right"
        }
      ],
      "default": "right"
    },
    {
      "type": "range",
      "id": "dt_image_width",
      "min": 30,
      "max": 70,
      "step": 10,
      "unit": "%",
      "default": 50,
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
      "type": "range",
      "id": "card_spacing",
      "min": 0,
      "max": 120,
      "step": 10,
      "unit": "px",
      "default": 20,
      "label": "t:sections.all.layouts.horizontal_spacing"
    },
    {
      "type": "header",
      "content": "t:sections.all.image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.main_image.label"
		},
    {
      "type": "text",
      "id": "image_asset_filename",
      "label": "Theme asset image filename",
      "info": "Optional. Used when no main image is selected above."
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.all.ratio.image_ratio",
      "options": [
        {
          "value": "square",
          "label": "t:sections.all.ratio.square"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.ratio.portrait_4_5"
        },
        {
          "value": "portrait-4x6",
          "label": "t:sections.all.ratio.portrait_4_6"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.ratio.landscape"
        },
        {
          "value": "fit",
          "label": "t:sections.all.ratio.adapt_to_image"
        }
      ],
      "default": "portrait"
    },
    {
      "type": "image_picker",
      "id": "secondary_image",
      "label": "t:sections.image-with-text.settings.secondary_image.label"
	  },
    {
      "type": "select",
      "id": "secondary_image_scale",
      "label": "t:sections.image-with-text.settings.secondary_image_size.label",
      "options": [
        {
          "value": "micro",
          "label": "t:sections.all.size.micro"
        },
        {
          "value": "small",
          "label": "t:sections.all.size.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.size.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.size.large"
        }
		],
      "default": "small"
    },
    {
      "type": "header",
      "content": "t:sections.all.text"
    },
    {
      "type": "select",
      "id": "txt_alignment",
      "label": "t:sections.all.alignment.text_alignment_heading",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.alignment.left"
        },
        {
          "value": "center",
          "label": "t:sections.all.alignment.center"
        }
		],
      "default": "left"
    },
    {
      "type": "select",
      "id": "txt_vertical_alignment",
      "label": "t:sections.all.alignment.vertical_alignment",
      "info": "t:sections.all.devices.applies_desktop",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.alignment.top"
        },
        {
          "value": "middle",
          "label": "t:sections.all.alignment.middle"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.alignment.bottom"
        }
		],
      "default": "middle"
    },
    {
      "type": "range",
      "id": "txt_padding_top_mobile",
      "min": 0,
      "max": 40,
      "step": 5,
      "unit": "px",
      "default": 20,
      "label": "t:sections.all.padding.padding_top_mobile"
    },
    {
      "type": "range",
      "id": "txt_padding_bottom_mobile",
      "min": 0,
      "max": 120,
      "step": 5,
      "unit": "px",
      "default": 20,
      "label": "t:sections.all.padding.padding_bottom_mobile"
    },
    {
      "type": "range",
      "id": "txt_vertical_padding",
      "min": 0,
      "max": 80,
      "step": 5,
      "unit": "px",
      "default": 0,
      "label": "t:sections.all.padding.padding_desktop"
    },
    {
      "type": "select",
      "id": "text_width",
      "label": "t:sections.all.width",
      "options": [
        {
          "value": "full",
          "label": "t:sections.all.full_width"
        },
        {
          "value": "medium",
          "label": "t:sections.all.size.medium"
        },
        {
          "value": "narrow",
          "label": "t:sections.all.narrow"
        }
      ],
      "default": "full"
    },
    {
      "type": "select",
      "id": "text_horizontal_position",
      "visible_if": "{{ section.settings.text_width != 'full' }}",
      "label": "t:sections.all.alignment.horizontal_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.alignment.left"
        },
        {
          "value": "center",
          "label": "t:sections.all.alignment.center"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "text_color",
      "options": [
        {
          "value": "fg-white",
          "label": "White"
        },
        {
          "value": "fg-body",
          "label": "t:sections.all.colors.background_body.label"
        },
        {
          "value": "fg-01",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "fg-02",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "fg-03",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "fg-04",
          "label": "t:sections.all.colors.accent_4.label"
        },
        {
          "value": "fg-05",
          "label": "t:sections.all.colors.accent_5.label"
        }
      ],
      "default": "fg-body",
      "label": "t:sections.all.colors.text_color.label"
    },
    {
      "type": "select",
      "id": "bg_color",
      "options": [
        {
          "value": "bg-body",
          "label": "t:sections.all.colors.background_body.label"
        },
        {
          "value": "bg-01",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "bg-02",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "bg-03",
          "label": "t:sections.all.colors.background_3.label"
        },
        {
          "value": "bg-04",
          "label": "t:sections.all.colors.background_4.label"
        },
        {
          "value": "bg-05",
          "label": "t:sections.all.colors.background_5.label"
        },
        {
          "value": "bg-06",
          "label": "Background 6"
        },
        {
          "value": "bg-07",
          "label": "Background 7"
        },
        {
          "value": "bg-08",
          "label": "Background 8"
        },
        {
          "value": "bg-09",
          "label": "Background 9"
        }
      ],
      "default": "bg-body",
      "label": "t:sections.all.colors.background_color.label"
    },
    {
      "type": "range",
      "id": "top_padding",
      "min": 0,
      "max": 160,
      "step": 10,
      "unit": "px",
      "default": 80,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "min": 0,
      "max": 160,
      "step": 10,
      "unit": "px",
      "default": 80,
      "label": "t:sections.all.padding.padding_bottom"
    },
    {
      "type": "header",
      "content": "t:sections.all.border"
    },
    {
      "type": "checkbox",
      "id": "border_vertical",
      "default": false,
      "label": "t:sections.all.border_vertical",
      "info": "t:sections.all.devices.applies_desktop"
    },
    {
      "type": "checkbox",
      "id": "top_border",
      "default": false,
      "label": "t:sections.all.border_top"
    },
    {
      "type": "checkbox",
      "id": "bottom_border",
      "default": false,
      "label": "t:sections.all.border_bottom"
    },
    {
      "type": "select",
      "id": "border_width",
      "label": "t:sections.all.width",
      "options": [
        {
          "value": "normal",
          "label": "t:sections.all.normal"
        },
        {
          "value": "full",
          "label": "t:sections.all.full_width"
        }
        ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "border_color",
      "label": "t:sections.all.border_color",
      "options": [
        {
          "value": "dark",
          "label": "t:sections.all.colors.dark.label"
        },
        {
          "value": "light",
          "label": "t:sections.all.colors.light.label"
        }
        ],
      "default": "dark"
    }
    ],
  "blocks": [
    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption.label"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.all.heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image with text",
          "label": "t:sections.all.heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.heading_size.label",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.size.small"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.normal.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.large.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.xl.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.size.xxl"
            }
    		],
          "default": "h2"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or brand story.</p>",
          "label": "t:sections.all.description"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.all.size.text_size",
          "options": [
            {
              "value": "std",
              "label": "t:sections.all.normal"
            },
            {
              "value": "large",
              "label": "t:sections.all.size.large"
            }
    		],
          "default": "std"
        }
      ]
    },  
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "btn_color_scheme",
          "label": "t:sections.all.buttons.button_color_scheme",
          "options": [
            {
              "value": "default",
              "label": "t:sections.all.default"
            },
            {
              "value": "match-section",
              "label": "t:sections.all.buttons.button_color_scheme_match"
            }
    		],
          "default": "default"
        },
        {
          "type": "select",
          "id": "button_width_mobile",
          "label": "t:sections.image-with-text.blocks.button.settings.button_width_mobile.label",
          "options": [
            {
              "value": "default",
              "label": "t:sections.all.default"
            },
            {
              "value": "full",
              "label": "t:sections.all.full_width"
            }
    		],
          "default": "default"
        },
        {
          "type": "header",
          "content": "t:sections.image-with-text.blocks.button.settings.primary_button.content"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "default": "Button label",
          "label": "t:sections.all.buttons.button_label"
    	},
        {
          "type": "url",
          "id": "btn_link",
          "label": "t:sections.all.buttons.button_link"
    	},
        {
          "type": "select",
          "id": "btn_style",
          "label": "t:sections.all.buttons.button_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.buttons.button_style_solid"
            },
            {
              "value": "outline",
              "label": "t:sections.all.buttons.button_style_outline"
            },
            {
              "value": "link",
              "label": "t:sections.all.buttons.button_style_underline"
            }
    		],
          "default": "outline"
        },
        {
          "type": "header",
          "content": "t:sections.image-with-text.blocks.button.settings.secondary_button.content"
        },
        {
          "type": "checkbox",
          "id": "btn_two_enable",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.secondary_button_show.label"
    	},
        {
          "type": "select",
          "id": "button_layout",
          "label": "t:sections.all.layout",
          "options": [
            {
              "value": "stacked",
              "label": "t:sections.all.layouts.stacked"
            },
            {
              "value": "horizontal",
              "label": "t:sections.all.layouts.horizontal"
            }
    		],
          "default": "stacked"
        },
        {
          "type": "text",
          "id": "btn_two_txt",
          "default": "Button label",
          "label": "t:sections.all.buttons.button_label"
    	},
        {
          "type": "url",
          "id": "btn_two_link",
          "label": "t:sections.all.buttons.button_link"
    	},
        {
          "type": "select",
          "id": "btn_two_style",
          "label": "t:sections.all.buttons.button_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.buttons.button_style_solid"
            },
            {
              "value": "outline",
              "label": "t:sections.all.buttons.button_style_outline"
            },
            {
              "value": "link",
              "label": "t:sections.all.buttons.button_style_underline"
            }
    		],
          "default": "solid"
        }
      ]
    }
  ],  
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name",
      "blocks": [
        {
          "type": "caption"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
  }
{% endschema %}
