{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{% assign fetch_priority = 'auto' %}
{% assign image_loading = 'lazy' %}
{% if section.index == 1 %}
{% assign fetch_priority = 'high' %}
{% assign image_loading = 'eager' %}
{% endif %}

{% assign heading_html_tag = 'h2' %}
{% if section.index == 1 %}
{% assign heading_html_tag = 'h1' %}  
{% endif %}

{% assign main_image_aspect_ratio = 1.4 %}
{% assign secondary_image_aspect_ratio = 1.4 %}

{% if section.settings.image != blank %}
  {% assign main_image_aspect_ratio = section.settings.image.aspect_ratio | round: 2 %}
{% endif %}

{% if section.settings.image_secondary != blank %}
  {% assign secondary_image_aspect_ratio = section.settings.image_secondary.aspect_ratio | round: 2 %}
{% endif %}

{%- style -%}

.section-{{ section.id }}.banner-style-adapt {
  height: calc(100vw / {{ main_image_aspect_ratio }}) !important;
}

{% if section.settings.primary_image_size contains 'half' %}
.section-{{ section.id }}.banner-style-adapt {
  height: calc(50vw / {{ main_image_aspect_ratio }}) !important;
}
{% endif %}

{% if section.settings.primary_image_mobile_show == false and section.settings.secondary_image_mobile_show == true and section.settings.image_secondary != blank %}
@media only screen and (max-width: 949px) {
  .section-{{ section.id }}.banner-style-adapt {
    height: calc(100vw / {{ secondary_image_aspect_ratio }}) !important;
  }
}
{% endif %}

.section-{{ section.id }} {
  background: {{ section.settings.bg_color }};
}

.section-{{ section.id }} .section-inner {
  padding-top: {{ section.settings.top_padding }}px;
  padding-bottom: {{ section.settings.bottom_padding }}px;
}

{%- if section.settings.overlay_level > 0 -%}
{%- if section.settings.overlay_level < 10 -%}
.section-{{ section.id }} .banner-overlay {
  background: rgba(0,0,0,0.05);
}
{%- else -%}
.section-{{ section.id }} .banner-overlay {
  background: rgba(0,0,0,0.{{ section.settings.overlay_level }});
}
{%- endif -%}
{%- endif -%}

.section-{{ section.id }}.color-scheme-fg-white .button-color-scheme--match-section .button--solid {
  background: #ffffff;
  color: var(--color-foreground);
}

.section-{{ section.id }}.color-scheme-fg-white .button-color-scheme--match-section .button--outline {
  color: #ffffff;
}

.section-{{ section.id }} .banner-primary-image {
  padding: {{ section.settings.image_padding | divided_by: 1.4 }}px;
}

.section-{{ section.id }} .banner-secondary-image {
  padding: {{ section.settings.secondary_image_padding | divided_by: 1.4 }}px;
}

.section-{{ section.id }} .banner-primary-image img, .section-{{ section.id }} .banner-primary-image .luxe-product-placeholder-wrapper {
  filter: blur({{ section.settings.image_blur }}px);
}

.section-{{ section.id }} .banner-secondary-image img {
  filter: blur({{ section.settings.secondary_image_blur }}px); 
}

.section-{{ section.id }} .banner-full-bleed-text > div {
  padding: {{ section.settings.text_vertical_spacing }}px 0;
}

@media only screen and (min-width: 900px) {
  .section-{{ section.id }} .banner-primary-image {
    padding: {{ section.settings.image_padding }}px;
  }
  .section-{{ section.id }} .banner-secondary-image {
    padding: {{ section.settings.secondary_image_padding }}px;
  }  
}

{%- endstyle -%}

<div class="section-container{% if section.index == 1 %} landing-screen-section{% endif %} section-image-banner banner-full-bleed section-{{ section.id }} {{ section.settings.banner_size }} color-scheme-{{ section.settings.text_color }}">

<div class="section-inner banner-text-position--{{ section.settings.txt_position }}">
{% if section.settings.banner_full_link != blank %}
<a class="image-banner-full-banner-link" href="{{ section.settings.banner_full_link }}"></a>
{% endif %}
<div class="banner-full-bleed-text banner-text-effect--{{ section.settings.text_blend_effect }} banner-text-width--{{ section.settings.content_width | escape }} align--{{ section.settings.txt_alignment }}{% if section.settings.fade_in_text %} banner-text-fade-in{% endif %}">

{% for block in section.blocks %}
{% case block.type %}

{% when 'logo' %}
{% assign logo_width = block.settings.logo_width_desktop | times: 2 %}

{% if block.settings.logo_full_width %}
{% assign logo_width = 2400 %}
{% endif %}
  
<style>
  .banner-logo {
    width: {{ block.settings.logo_width_mobile }}px;
    max-width: 100%;
  }
  @media only screen and (min-width: 1025px) {
    .banner-logo {
      width: {{ block.settings.logo_width_desktop }}px;
      max-width: 100%;
    }    
  }
  {% if block.settings.logo_full_width %}
  .banner-logo {
    width: 100% !important;
  }
  {% endif %}
</style>
  
<div class="banner-logo" {{ block.shopify_attributes }}>
{% if block.settings.logo %}{{ block.settings.logo | image_url: width: logo_width | image_tag }}{% endif %}
</div>
  
{% when 'caption' %}
<div class="section-label" {{ block.shopify_attributes }}>
{{ block.settings.caption }}
</div>
  
{% when 'heading' %}
<div class="image-banner-heading align-{{ block.settings.txt_alignment }}" {{ block.shopify_attributes }}>
{% unless block.settings.txt_alignment == 'asymmetric' and block.settings.heading contains '/' %}
<{{ heading_html_tag }} class="{{ block.settings.heading_size }}">{{ block.settings.heading }}</{{ heading_html_tag }}>
{% endunless %}

{% if block.settings.txt_alignment == 'asymmetric' and block.settings.heading contains '/' %}
{% assign words = block.settings.heading | split: ' / ' %}
<{{ heading_html_tag }} class="{{ block.settings.heading_size }} asymmetric-heading-{{ words.size }}-words">
  {% for word in words %}
    <div class="image-banner-word">{{ word }}</div>
  {% endfor %}
</{{ heading_html_tag }}>
{% endif %}
  
</div>
  
{% when 'text' %}
<div class="{{ block.settings.text_size }}" {{ block.shopify_attributes }}>
{{ block.settings.text }}
</div>  

{% when 'buttons' %}
<style>
  .section-{{ section.id }} .image-banner-buttons-inline {
    padding-top: {{ block.settings.padding_top }}px !important;
    padding-bottom: {{ block.settings.padding_bottom }}px !important;
  }
</style>
{% assign button_one_link = block.settings.btn_one_link %}
{% assign button_two_link = block.settings.btn_two_link %}

{% if section.settings.banner_full_link != blank %}
{% assign button_one_link = '#' %}
{% assign button_two_link = '#' %}
{% endif %}
  
{% assign color_scheme = block.settings.btn_color_scheme %}
{% assign button_layout = block.settings.btn_layout %}
  
<div class="image-banner-buttons-inline button-width-mobile-{{ block.settings.btn_width_mobile }} button-hoz-alignment-{{ block.settings.btn_alignment }}{% if block.settings.btn_one_show and block.settings.btn_two_show %} buttons-layout-{{ button_layout }}{% endif %} button-color-scheme--{{ color_scheme }}" {{ block.shopify_attributes }}> 
{% if block.settings.btn_one_show %}
<a href="{{ button_one_link }}" class="{% unless block.settings.btn_one_style == 'link--underlined' %}button{% endunless %} {{ block.settings.btn_one_style }}">{{ block.settings.btn_one_txt }}</a>  
{% endif %}
{% if block.settings.btn_two_show %}
<a href="{{ button_two_link }}" class="{% unless block.settings.btn_two_style == 'link--underlined' %}button{% endunless %} {{ block.settings.btn_two_style }}">{{ block.settings.btn_two_txt }}</a> 
{% endif %}
</div>

{% endcase %}
{% endfor %}

</div>

{% assign primary_image_class = 'std' %}  
{% assign secondary_image_class = 'std' %}

{% if section.settings.primary_image_mobile_show == false %}
{% assign primary_image_class = 'image-mob-hide' %}
{% endif %}

{% if section.settings.secondary_image_mobile_show == false %}
{% assign secondary_image_class = 'image-mob-hide' %}
{% endif %}

{% if section.settings.image and section.settings.primary_image_size == 'dt-full-bleed' and section.settings.image_padding == 0 %}
  {% assign secondary_image_class = 'image-dt-hide' %}
{% endif %}
  
<div class="bg-pane banner-overlay"></div>
{% if section.settings.scroll_fade_effect %}<div class="bg-pane banner-overlay-fader"></div>{% endif %}
<div class="bg-pane banner-bg-image">

{% if section.settings.image %}
<div class="banner-primary-image {{ section.settings.primary_image_size }} image-animation-{{ section.settings.main_image_animation }}">
{% if section.settings.primary_image_size == 'dt-full-bleed' %}
{{ section.settings.image | image_url: width: 2800 | image_tag: class: primary_image_class, fetchpriority: fetch_priority, loading: image_loading, widths: '750, 1100, 1500, 1800, 2200, 2600, 2800', sizes: '100vw' }}
{% else %}
{{ section.settings.image | image_url: width: 1800 | image_tag: class: primary_image_class, fetchpriority: fetch_priority, loading: image_loading, widths: '375, 550, 750, 990, 1200, 1500, 1800', sizes: '(min-width: 750px) 50vw, 100vw' }}
{% endif %}
</div>
{% endif %}

{% unless section.settings.secondary_image_mobile_show == false and section.settings.image and section.settings.primary_image_size == 'dt-full-bleed' and section.settings.image_padding == 0 %}
{% if section.settings.image_secondary %}
<div class="banner-secondary-image {{ section.settings.secondary_image_size }} image-animation-{{ section.settings.secondary_image_animation }}">
{% if section.settings.secondary_image_size == 'dt-full-bleed' %}
{{ section.settings.image_secondary | image_url: width: 2800 | image_tag: class: secondary_image_class, fetchpriority: fetch_priority, loading: image_loading, widths: '750, 1100, 1500, 1800, 2200, 2600, 2800', sizes: '100vw' }}
{% else %}
{{ section.settings.image_secondary | image_url: width: 1800 | image_tag: class: secondary_image_class, fetchpriority: fetch_priority, loading: image_loading, widths: '375, 550, 750, 990, 1200, 1500, 1800', sizes: '(min-width: 750px) 50vw, 100vw' }}
{% endif %}  
</div>
{% endif %}
{% endunless %}

{% if section.settings.image == blank and section.settings.image_secondary == blank %}
<div class="banner-primary-image {{ section.settings.primary_image_size }}">
{% render 'media-placeholder-lifestyle', style: 11 %}
</div>
{% endif %}

</div>


</div>

</div>

{% if section.settings.scroll_fade_effect and section.index == 1 %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const sectionId = "{{ section.id }}";
    const sectionElement = document.querySelector(`.section-${sectionId}`);
    const bgPane = sectionElement.querySelector(".banner-overlay-fader");
    const headingDiv = sectionElement.querySelector(".banner-full-bleed-text");
    const headingHeight = headingDiv.offsetHeight;

    window.addEventListener("scroll", function() {
      const scrollPosition = window.scrollY;
      const maxScroll = window.innerHeight;

      const opacity = Math.min(scrollPosition / maxScroll, 1);
      
      // Set the background color with the calculated opacity
      //bgPane.style.backgroundColor = `rgba(0, 0, 0, ${opacity})`;

      // Adjust 'top' position of heading based on scroll position
      const topOffset = -scrollPosition * 0.25;
      headingDiv.style.top = `${topOffset}px`;

      // Fade the text opacity as scroll happens
      const textOpacity = 1 - (scrollPosition / maxScroll); // Invert opacity
      headingDiv.style.opacity = textOpacity;
    });
  });
</script>
{% endif %}
  
{% schema %}
  {
    "name": "t:sections.image-banner.name",
  	"tag": "section",
  	"class": "section",    
    "disabled_on": {
      "groups": ["header", "footer"],
      "templates": ["cart"]
    },
    "blocks": [
    {
      "type": "logo",
      "name": "t:sections.image-banner.blocks.logo.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.image-banner.blocks.logo.name"
        },
        {
          "type": "range",
          "id": "logo_width_mobile",
          "min": 40,
          "max": 400,
          "step": 10,
          "unit": "px",
          "default": 150,
          "label": "t:sections.image-banner.blocks.logo.settings.logo_width_mobile.label"
        },
        {
          "type": "range",
          "id": "logo_width_desktop",
          "min": 40,
          "max": 1400,
          "step": 20,
          "unit": "px",
          "default": 300,
          "label": "t:sections.image-banner.blocks.logo.settings.logo_width_desktop.label"
        },
        {
          "type": "checkbox",
          "id": "logo_full_width",
          "default": false,
          "label": "t:sections.image-banner.blocks.logo.settings.logo_full_width.label",
          "info": "t:sections.image-banner.blocks.logo.settings.logo_full_width.info"
    	}
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.image-banner.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "label": "t:sections.all.caption",
          "default": "Caption"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.image-banner.blocks.heading.settings.heading_size.label",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.size.extra_small"
            },
            {
              "value": "h2",
              "label": "t:sections.all.size.small"
            },
            {
              "value": "h1",
              "label": "t:sections.all.size.medium"
            },
            {
              "value": "h0",
              "label": "t:sections.all.size.large"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.size.xl"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.size.xxl"
            }
          ],
          "default": "h1"
        },
        {
          "type": "select",
          "id": "txt_alignment",
          "label": "t:sections.all.alignment.text_alignment_heading",
          "options": [
            {
              "value": "inherit",
              "label": "Auto"
            },
            {
              "value": "left",
              "label": "t:sections.all.alignment.left"
            },
            {
              "value": "center",
              "label": "t:sections.all.alignment.center"
            },
            {
              "value": "right",
              "label": "t:sections.all.alignment.right"
            },
            {
              "value": "asymmetric",
              "label": "t:sections.all.alignment.asymmetric"
            }
          ],
          "default": "inherit"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.image-banner.blocks.text.settings.text.label",
          "default": "<p>Talk about your brand, product or content</p>"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.image-banner.blocks.text.settings.text_size.label",
          "options": [
            {
              "value": "text-std",
              "label": "t:sections.all.size.normal"
            },
            {
              "value": "text-large",
              "label": "t:sections.all.size.large"
            },
            {
              "value": "text-xl",
              "label": "t:sections.all.size.xl"
            }
          ],
          "default": "text-std"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.image-banner.blocks.buttons.settings.header__1.label"
        },
        {
          "type": "checkbox",
          "id": "btn_one_show",
          "default": true,
          "label": "t:sections.all.buttons.show_button"
        },
        {
          "type": "text",
          "id": "btn_one_txt",
          "default": "Button label",
          "label": "t:sections.all.buttons.button_label"
        },
        {
          "type": "url",
          "id": "btn_one_link",
          "label": "t:sections.all.buttons.button_link"
      	},
        {
            "type": "select",
            "id": "btn_one_style",
            "label": "t:sections.all.buttons.button_style",
            "options": [
            {
            "value": "button--solid",
            "label": "t:sections.all.buttons.button_style_solid"
            },
            {
            "value": "button--outline",
            "label": "t:sections.all.buttons.button_style_outline"
            },
            {
              "value": "link--underlined",
              "label": "t:sections.all.buttons.button_style_underline"
            }
            ],
          "default": "button--solid"
        },
        {
          "type": "header",
          "content": "t:sections.image-banner.blocks.buttons.settings.header__2.label"
        },
        {
          "type": "checkbox",
          "id": "btn_two_show",
          "default": false,
          "label": "t:sections.all.buttons.show_button"
        },
        {
          "type": "text",
          "id": "btn_two_txt",
          "default": "Button label",
          "label": "t:sections.all.buttons.button_label"
        },
        {
          "type": "url",
          "id": "btn_two_link",
          "label": "t:sections.all.buttons.button_link"
      	},
        {
            "type": "select",
            "id": "btn_two_style",
            "label": "t:sections.all.buttons.button_style",
            "options": [
            {
            "value": "button--solid",
            "label": "t:sections.all.buttons.button_style_solid"
            },
            {
            "value": "button--outline",
            "label": "t:sections.all.buttons.button_style_outline"
            },
            {
              "value": "link--underlined",
              "label": "t:sections.all.buttons.button_style_underline"
            }
            ],
          "default": "button--solid"
        },
        {
          "type": "header",
          "content": "t:sections.image-banner.blocks.buttons.settings.header__3.label"
        },
        {
          "type": "select",
          "id": "btn_layout",
          "label": "t:sections.all.buttons.button_layout",
          "options": [
            {
              "value": "inline",
              "label": "t:sections.all.layouts.horizontal"
            },
            {
              "value": "stacked",
              "label": "t:sections.all.layouts.stacked"
            }
            ],
          "default": "inline"
        },
        {
          "type": "select",
          "id": "btn_alignment",
          "label": "t:sections.all.alignment.horizontal_alignment",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "left",
              "label": "t:sections.all.alignment.left"
            },
            {
              "value": "center",
              "label": "t:sections.all.alignment.center"
            },
            {
              "value": "right",
              "label": "t:sections.all.alignment.right"
            }
            ],
          "default": "auto"
        },
        {
          "type": "select",
          "id": "btn_width_mobile",
          "label": "t:sections.all.buttons.button_width_mobile",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "full",
              "label": "t:sections.all.full_width"
            }
            ],
          "default": "auto"
        },
        {
            "type": "select",
            "id": "btn_color_scheme",
            "label": "t:sections.all.buttons.button_color_scheme",
            "options": [
            {
            "value": "default",
            "label": "t:sections.all.default"
            },
            {
            "value": "white",
            "label": "t:sections.all.colors.white.label"
            },
            {
            "value": "match-section",
            "label": "t:sections.all.buttons.button_color_scheme_match"
            }
            ],
          "default": "default"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 80,
          "step": 5,
          "unit": "px",
          "default": 20,
          "label": "t:sections.all.padding.padding_top"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 80,
          "step": 5,
          "unit": "px",
          "default": 20,
          "label": "t:sections.all.padding.padding_bottom"
        }        
      ]
    }
  ],
    "settings": [
    {
      "type": "select",
      "id": "banner_size",
      "label": "t:sections.image-banner.settings.banner_height.label",
      "options": [
        {
          "value": "banner-style-fullscreen",
          "label": "t:sections.image-banner.settings.banner_height.options__4.label"
        },
        {
          "value": "banner-style-large",
          "label": "t:sections.image-banner.settings.banner_height.options__3.label"
        },
        {
          "value": "banner-style-medium",
          "label": "t:sections.image-banner.settings.banner_height.options__2.label"
        },
        {
          "value": "banner-style-slim",
          "label": "t:sections.image-banner.settings.banner_height.options__1.label"
        },
        {
          "value": "banner-style-extra-slim",
          "label": "t:sections.all.size.micro"
        },
        {
          "value": "banner-style-adapt",
          "label": "t:sections.all.ratio.adapt_to_image"
        }
      ],
      "default": "banner-style-fullscreen"
    },
    {
      "type": "url",
      "id": "banner_full_link",
      "label": "t:sections.image-banner.settings.banner_link.label",
      "info": "t:sections.image-banner.settings.banner_link.info"
    },      
    {
      "type": "header",
      "content": "t:sections.all.primary_image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image"
	},
    {
      "type": "select",
      "id": "primary_image_size",
      "label": "t:sections.image-banner.settings.desktop_image_position.label",
      "options": [
        {
          "value": "dt-full-bleed",
          "label": "t:sections.image-banner.settings.desktop_image_position.options__1.label"
        },
        {
          "value": "dt-half-center",
          "label": "t:sections.image-banner.settings.desktop_image_position.options__2.label"
        },
        {
          "value": "dt-half-left",
          "label": "t:sections.image-banner.settings.desktop_image_position.options__4.label"
        },
        {
          "value": "dt-half-right",
          "label": "t:sections.image-banner.settings.desktop_image_position.options__3.label"
        }
		],
      "default": "dt-full-bleed"
    },
    {
      "type": "range",
      "id": "image_padding",
      "min": 0,
      "max": 180,
      "step": 5,
      "unit": "px",
      "default": 0,
      "label": "t:sections.image-banner.settings.image_padding.label",
      "info": "t:sections.image-banner.settings.image_padding.info"
    },
    {
      "type": "select",
      "id": "main_image_animation",
      "label": "t:sections.all.animation.animation_effect",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.none"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.zoom_in"
        },
        {
          "value": "zoom-out",
          "label": "t:sections.all.animation.zoom_out"
        },
        {
          "value": "pan-left",
          "label": "t:sections.all.animation.pan_left"
        },
        {
          "value": "pan-right",
          "label": "t:sections.all.animation.pan_right"
        },
        {
          "value": "pan-up",
          "label": "t:sections.all.animation.pan_up"
        },
        {
          "value": "pan-down",
          "label": "t:sections.all.animation.pan_down"
        }
		],
      "default": "none"
    },
    {
      "type": "range",
      "id": "image_blur",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "default": 0,
      "label": "t:sections.image-banner.settings.blur_effect.label"
    },
    {
      "type": "checkbox",
      "id": "primary_image_mobile_show",
      "default": true,
      "label": "t:sections.image-banner.settings.show_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.secondary_image"
    },
    {
      "type": "image_picker",
      "id": "image_secondary",
      "label": "t:sections.all.image"
	  },
    {
      "type": "select",
      "id": "secondary_image_size",
      "label": "t:sections.image-banner.settings.desktop_image_position.label",
      "options": [
        {
          "value": "dt-full-bleed",
          "label": "t:sections.image-banner.settings.desktop_image_position.options__1.label"
        },
        {
          "value": "dt-half-center",
          "label": "t:sections.image-banner.settings.desktop_image_position.options__2.label"
        },
        {
          "value": "dt-half-left",
          "label": "t:sections.image-banner.settings.desktop_image_position.options__4.label"
        },
        {
          "value": "dt-half-right",
          "label": "t:sections.image-banner.settings.desktop_image_position.options__3.label"
        }
		],
      "default": "dt-full-bleed"
    },
    {
      "type": "range",
      "id": "secondary_image_padding",
      "min": 0,
      "max": 180,
      "step": 5,
      "unit": "px",
      "default": 0,
      "label": "t:sections.image-banner.settings.image_padding.label",
      "info": "t:sections.image-banner.settings.image_padding.info"
    },
    {
      "type": "select",
      "id": "secondary_image_animation",
      "label": "t:sections.all.animation.animation_effect",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.none"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.zoom_in"
        },
        {
          "value": "zoom-out",
          "label": "t:sections.all.animation.zoom_out"
        },
        {
          "value": "pan-left",
          "label": "t:sections.all.animation.pan_left"
        },
        {
          "value": "pan-right",
          "label": "t:sections.all.animation.pan_right"
        },
        {
          "value": "pan-up",
          "label": "t:sections.all.animation.pan_up"
        },
        {
          "value": "pan-down",
          "label": "t:sections.all.animation.pan_down"
        }
		],
      "default": "none"
    },
    {
      "type": "range",
      "id": "secondary_image_blur",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "default": 0,
      "label": "t:sections.image-banner.settings.blur_effect.label"
    },
    {
      "type": "checkbox",
      "id": "secondary_image_mobile_show",
      "default": true,
      "label": "t:sections.image-banner.settings.show_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header__text.label"
    },
    {
      "type": "text_alignment",
      "id": "txt_alignment",
      "label": "t:sections.image-banner.settings.text_alignment.label",
      "default": "center"
    },
    {
      "type": "select",
      "id": "txt_position",
      "label": "t:sections.image-banner.settings.text_position.label",
      "options": [
        {
          "value": "top_left",
          "label": "t:sections.image-banner.settings.text_position.options__1.label"
        },
        {
          "value": "top_center",
          "label": "t:sections.image-banner.settings.text_position.options__2.label"
        },
        {
          "value": "top_right",
          "label": "t:sections.image-banner.settings.text_position.options__3.label"
        },
        {
          "value": "middle_left",
          "label": "t:sections.image-banner.settings.text_position.options__4.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-banner.settings.text_position.options__5.label"
        },
        {
          "value": "middle_right",
          "label": "t:sections.image-banner.settings.text_position.options__6.label"
        },
        {
          "value": "bottom_left",
          "label": "t:sections.image-banner.settings.text_position.options__7.label"
        },
        {
          "value": "bottom_center",
          "label": "t:sections.image-banner.settings.text_position.options__8.label"
        },
        {
          "value": "bottom_right",
          "label": "t:sections.image-banner.settings.text_position.options__9.label"
        }
      ],
      "default": "middle"
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 40,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 100,
      "label": "t:sections.image-banner.settings.text_width.label",
      "info": "t:sections.all.devices.applies_tablet_desktop"
    },
    {
      "type": "range",
      "id": "text_vertical_spacing",
      "min": 2,
      "max": 20,
      "step": 2,
      "unit": "px",
      "default": 10,
      "label": "t:sections.all.layouts.vertical_spacing"
    },
    {
      "type": "range",
      "id": "top_padding",
      "min": 0,
      "max": 120,
      "step": 10,
      "unit": "px",
      "default": 0,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "min": 0,
      "max": 120,
      "step": 10,
      "unit": "px",
      "default": 0,
      "label": "t:sections.all.padding.padding_bottom"
    },
    {
      "type": "checkbox",
      "id": "fade_in_text",
      "default": true,
      "label": "t:sections.image-banner.settings.text_fade_in.label"
    },
    {
      "type": "checkbox",
      "id": "scroll_fade_effect",
      "default": false,
      "label": "t:sections.image-banner.settings.scroll_fade_effect.label",
      "info": "t:sections.image-banner.settings.scroll_fade_effect.info"
    },
    {
      "type": "select",
      "id": "text_blend_effect",
      "options": [
        {
          "value": "none",
          "label": "t:sections.image-banner.settings.text_effects.options__1.label"
        },
        {
          "value": "mix-blend-difference",
          "label": "t:sections.image-banner.settings.text_effects.options__2.label"
        },
        {
          "value": "mix-blend-overlay",
          "label": "t:sections.image-banner.settings.text_effects.options__3.label"
        }
      ],
      "default": "none",
      "label": "t:sections.image-banner.settings.text_effects.label",
      "info": "t:sections.image-banner.settings.text_effects.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "text_color",
      "options": [
        {
          "value": "fg-white",
          "label": "t:sections.all.colors.white.label"
        },
        {
          "value": "fg-body",
          "label": "t:sections.all.colors.background_body.label"
        },
        {
          "value": "fg-01",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "fg-02",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "fg-03",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "fg-04",
          "label": "t:sections.all.colors.accent_4.label"
        },
        {
          "value": "fg-05",
          "label": "t:sections.all.colors.accent_5.label"
        }
      ],
      "default": "fg-white",
      "label": "t:sections.all.colors.text_color.label"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "t:sections.all.colors.background_color.label",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "range",
      "id": "overlay_level",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "%",
      "default": 0,
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label"
    }
    ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
