
{% style %}
  .password-page-logo {
    max-width: {{ section.settings.logo_size }}px;
  }
  .password-page-container .banner-overlay {
    background: rgba(0,0,0,0.{{ section.settings.overlay_level }});
  }
  @media only screen and (min-width: 1025px) {
    .password-page-logo {
      max-width: {{ section.settings.logo_size_dt }}px;
    }
  }
{% endstyle %}

{% assign requiresoverflow = false %}
{% if section.settings.image != blank and section.settings.image_position == 'header' %}
{% assign requiresoverflow = true %}
{% endif %}

<div class="password-page-container lv-13-2-0 align-{{ section.settings.alignment }} position-{{ section.settings.position }} pwlp--{{ section.settings.link_position }} color-scheme-{{ section.settings.text_color }} color-scheme-{{ section.settings.bg_color }}{% if requiresoverflow %} allow-overflow{% endif %}">

{% if section.settings.enable_password_link %}
  
<div id="Modal" class="password-page-modal" aria-modal="true">
  <div class="password-modal-header">
    <button class="password-modal-close-button" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
  </div>
  
  {% form 'storefront_password' %}
  
  {%- if form.errors -%}
    <div class="errors" role="status">
      <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
      <span class="form__message">
        {%- render 'icon-error' %}
        {{ 'general.password_page.login_form_error' | t -}}
      </span>
    </div>
  {%- endif -%}
  <div class="password">
    <label for="Password-Form">{{ 'general.password_page.login_form_password_label' | t }}</label>
    <input id="Password-Form" type="password" name="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autocomplete="current-password">
  </div>

  <div class="submit">
    <input type="submit" value="{{ 'general.password_page.login_form_submit' | t }}">
  </div>
{% endform %}
<div class="password-form-footer align-center caption">{{ 'general.password_page.admin_link_html' | t }}</div>
</div> 

{% if section.settings.link_position == 'top' %}
<div class="password-link-wrapper">
<div id="PasswordModalToggle" class="password-page-login-link" role="button" aria-label="{{ 'general.password_page.login_password_button' | t }}" tabindex="1">
  <span>{{ 'general.password_page.login_password_button' | t }}</span>
</div>
</div>
{% endif %}

{% endif %}

  <div class="password-page-content page-width">

  {% unless settings.logo_main == blank and settings.logo_inverted == blank %}
  <div class="password-page-logo">
  {%- if settings.logo_main != blank and section.settings.logo_type == 'default' -%}
    {%- assign logo_alt = settings.logo_main.alt | default: shop.name | escape -%}
    {{ settings.logo_main | image_url: width: '600' | image_tag: alt: logo_alt }}
  {%- endif -%}
  {%- if settings.logo_inverted != blank and section.settings.logo_type == 'inverted' -%}
    {%- assign logo_alt = settings.logo_inverted.alt | default: shop.name | escape -%}
    {{ settings.logo_inverted | image_url: width: '600' | image_tag: alt: logo_alt }}
  {%- endif -%}
  </div>
  {% endunless %}

  {%- if settings.logo_main == blank and settings.logo_inverted == blank -%}    
    <div class="password-page-shop-name">{{ shop.name }}</div>
  {%- endif -%}

  {% if section.settings.image != blank and section.settings.image_position == 'header' %}
  <div class="password-page-image-header ratio--{{ section.settings.image_ratio }}">
    {{ section.settings.image | image_url: width: 1200 | image_tag: loading: 'eager' }}
  </div>
  {% endif %}
    
  <div class="password-page-message">
  <h1 class="{{ section.settings.heading_size }}">{{ section.settings.heading }}</h1>
  {%- if shop.password_message != blank -%}
  <div class="password-settings-message">
    {{ shop.password_message }}
  </div>
  {%- endif -%}
  </div>

  {% if section.settings.enable_newsletter %}
  {{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
  {% if section.settings.newsletter_heading != blank %}
  <div class="newsletter-heading-label">
    {{ section.settings.newsletter_heading }}
  </div>
  {% endif %}
  <div class="password-page-newsletter newsletter-fields fields-style-{{ section.settings.form_style }} form-width-full">
    {% form 'customer', class: 'newsletter-form' %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="newsletter-form__field-wrapper">
        <div class="field">
          <label class="field__label" for="NewsletterForm--{{ section.id }}">
            {{ 'newsletter.label' | t }}
          </label>
          <input
            id="NewsletterForm--{{ section.id }}"
            type="email"
            name="contact[email]"
            class="field__input newsletter-field-input"
            value="{{ form.email }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              autofocus
              aria-invalid="true"
              aria-describedby="Newsletter-error--{{ section.id }}"
            {% elsif form.posted_successfully? %}
              aria-describedby="Newsletter-success--{{ section.id }}"
            {% endif %}
            placeholder="{{ 'newsletter.label' | t }}"
            required
          >
          
          <button
            type="submit"
            class="newsletter-form__button field__button"
            name="commit"
            id="NewsletterSubscribe"
            aria-label="{{ 'newsletter.button_label' | t }}"
          >
            {% render 'icon-arrow' %}
          </button>
        </div>
        {%- if form.errors -%}
          <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
            {%- render 'icon-error' -%}
            {{- form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email -}}
          </small>
        {%- endif -%}
      </div>
      {%- if form.posted_successfully? -%}
        <p
          class="newsletter-form__message newsletter-form__message--success form__message"
          id="Newsletter-success--{{ section.id }}"
          tabindex="-1"
          autofocus
        >
          {{- 'newsletter.success' | t }}
        </p>
      {%- endif -%}
    {% endform %}
  </div>
  {% endif %}
    

  {% if section.settings.enable_password_link and section.settings.link_position != 'top' %}
  <div class="password-link-wrapper">
  <div id="PasswordModalToggle" class="password-page-login-link" role="button" aria-label="{{ 'general.password_page.login_password_button' | t }}" tabindex="1">
    <span>{{ 'general.password_page.login_password_button' | t }}</span>
  </div>
  </div>
  {% endif %}

    
  {%- if section.settings.enable_social_media -%}
  <div class="password-page-social-media">
    {% render 'social-channels-icon-list' %}
  </div>
  {%- endif -%}
    
  </div>   
<div class="modal-background"></div>
  
{% if section.settings.image != blank and section.settings.image_position == 'background' %}
<div class="bg-pane banner-overlay"></div>
<div class="password-page-image-background">
  {{ section.settings.image | image_url: width: 2800 | image_tag }}
</div>
{% endif %}
  
</div>

{% if section.settings.enable_password_link %}

<script>
var modalopener = document.getElementById('PasswordModalToggle');
var modal = document.getElementById('Modal');
var modalbg = document.querySelector('.modal-background');
var modalcloser = document.querySelector('.password-modal-close-button');
var errors = document.querySelector('.errors');

function toggleModal() {
  modal.classList.toggle('open');
  modalbg.classList.toggle('visible');
}

function closeModal() {
  modal.classList.remove('open');
  modalbg.classList.remove('visible');
}
  
if (modalopener) {
  modalopener.addEventListener('click', toggleModal);
  
  modalopener.addEventListener('keypress', function(event) {
    // Check if the "Enter" key (key code 13) is pressed
    if (event.key === 'Enter') {
      toggleModal();
    }
  });
}

if(errors) { 
  modal.classList.add('open');
  modalbg.classList.add('visible');
}

if(modalbg) { 
  modalbg.addEventListener('click', function() {
    modal.classList.remove('open');
    modalbg.classList.remove('visible');
  });
}

if(modalcloser) { 
  modalcloser.addEventListener('click', closeModal);
  
  modalcloser.addEventListener('keypress', function(event) {
    // Check if the "Enter" key (key code 13) is pressed
    if (event.key === 'Enter') {
      closeModal();
    }
  });
}
</script>

{% endif %}

{% schema %}
{
  "name": "t:sections.main-password-page.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-password-page.settings.logo_header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-password-page.settings.logo_help.content"
    },
    {
      "type": "select",
      "id": "logo_type",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-password-page.settings.logo_type_default.label"
        },
        {
          "value": "inverted",
          "label": "t:sections.main-password-page.settings.logo_type_inverted.label"
        }
      ],
      "default": "default",
      "label": "t:sections.main-password-page.settings.logo_type.label"
    },
    {
      "type": "range",
      "id": "logo_size",
      "min": 15,
      "max": 200,
      "step": 5,
      "default": 100,
      "unit": "px",
      "label": "t:sections.main-password-page.settings.logo_size_mobile.label"
    },
    {
      "type": "range",
      "id": "logo_size_dt",
      "min": 15,
      "max": 400,
      "step": 5,
      "default": 180,
      "unit": "px",
      "label": "t:sections.main-password-page.settings.logo_size_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Launching Soon",
      "label": "t:sections.all.heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.size.small"
        },
        {
          "value": "h1",
          "label": "t:sections.all.size.normal"
        },
        {
          "value": "h0",
          "label": "t:sections.all.size.large"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.size.xl"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.alignment.left"
        },
        {
          "value": "center",
          "label": "t:sections.all.alignment.center"
        }
      ],
      "default": "left",
      "label": "t:sections.all.alignment.horizontal_alignment"
    },
    {
      "type": "select",
      "id": "position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.alignment.top"
        },
        {
          "value": "middle",
          "label": "t:sections.all.alignment.middle"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.alignment.bottom"
        }
      ],
      "default": "middle",
      "label": "t:sections.main-password-page.settings.vertical_alignment.label",
      "info": "t:sections.main-password-page.settings.vertical_alignment.info"
    },
    {
      "type": "checkbox",
      "id": "enable_newsletter",
      "default": false,
      "label": "t:sections.main-password-page.settings.enable_newsletter.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Sign up and we'll notify you when we launch",
      "label": "t:sections.main-password-page.settings.newsletter_label.label"
    },
    {
      "type": "select",
      "id": "form_style",
      "options": [
        {
          "value": "minimal",
          "label": "t:sections.main-password-page.settings.newsletter_style.options__3.label"
        },
        {
          "value": "outline",
          "label": "t:sections.main-password-page.settings.newsletter_style.options__1.label"
        },
        {
          "value": "default",
          "label": "t:sections.main-password-page.settings.newsletter_style.options__2.label"
        }
      ],
      "default": "minimal",
      "label": "t:sections.main-password-page.settings.newsletter_style.label"
    },
    {
      "type": "checkbox",
      "id": "enable_password_link",
      "default": true,
      "label": "t:sections.main-password-page.settings.enable_password_link.label"
    },    
    {
      "type": "select",
      "id": "link_position",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.default"
        },
        {
          "value": "top",
          "label": "t:sections.all.alignment.top"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.alignment.bottom"
        }
      ],
      "default": "default",
      "label": "t:sections.main-password-page.settings.link_position.label"
    },
    {
      "type": "checkbox",
      "id": "enable_social_media",
      "default": false,
      "label": "t:sections.main-password-page.settings.enable_social_media.label",
      "info": "t:sections.main-password-page.settings.enable_social_media.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image"
  },
    {
      "type": "select",
      "id": "image_position",
      "options": [
        {
          "value": "background",
          "label": "t:sections.all.background_image"
        },
        {
          "value": "header",
          "label": "t:sections.all.header"
        }
      ],
      "default": "background",
      "label": "t:sections.main-password-page.settings.image_position.label"
    },    
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "landscape-16x9",
          "label": "t:sections.all.ratio.landscape_16_9"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.ratio.landscape_6_4"
        },
        {
          "value": "square",
          "label": "t:sections.all.ratio.square"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.ratio.portrait"
        }
      ],
      "default": "landscape",
      "label": "t:sections.all.ratio.ratio_heading"
    },
    {
      "type": "range",
      "id": "overlay_level",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "%",
      "default": 0,
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "text_color",
      "options": [
        {
          "value": "fg-body",
          "label": "t:sections.all.colors.background_body.label"
        },
        {
          "value": "fg-01",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "fg-02",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "fg-03",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "fg-04",
          "label": "t:sections.all.colors.accent_4.label"
        }
      ],
      "default": "fg-body",
      "label": "t:sections.all.colors.text_color.label"
    },
    {
      "type": "select",
      "id": "bg_color",
      "options": [
        {
          "value": "bg-body",
          "label": "t:sections.all.colors.background_body.label"
        },
        {
          "value": "bg-01",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "bg-02",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "bg-03",
          "label": "t:sections.all.colors.background_3.label"
        },
        {
          "value": "bg-04",
          "label": "t:sections.all.colors.background_4.label"
        }
      ],
      "default": "bg-body",
      "label": "t:sections.all.colors.background_color.label"
    }
  ]
}
{% endschema %}
