{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }} .section-inner {
  padding-top: {{ section.settings.padding_top | times: 0.8 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.8 | round: 0 }}px;
}
  
@media only screen and (min-width: 750px) {
  .section-{{ section.id }} .section-inner {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }  
}
{%- endstyle -%}


{% assign date_format = settings.date_format %}

{% assign numb_related_articles = blog.articles_count %}
{% assign this_title = article.title %}
{% assign this_tags_array = article.tags %}

{% if numb_related_articles > 2 %}
<div class="section-{{ section.id }} section-featured-blog section-related-articles">

{% if section.settings.top_border %}
<hr class="section-border section-border-color-{{ section.settings.border_color }} section-border-width-{{ section.settings.border_width }}">
{% endif %}
  
<div class="section-inner">
  <div class="section-header section-header-std-padding page-width align-{{ section.settings.content_alignment }}"> 
    <h2 class="{{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
  </div>
  <div class="slider-outer-wrapper slider-arrows-position-{{ settings.carousel_arrow_position }} fb-wrapper{% if section.settings.show_tags %} fb-wrapper-with-tags{% endif %}" id="slider-{{ section.id }}">
    <ul class="slider-grid slider-element slider-grid--columns-mobile-1 featured-blog-grid slider-grid--columns-tablet-{{ section.settings.layout_columns_tablet }} slider-grid--columns-desktop-{{ section.settings.layout_columns_desktop }} page-width" role="list">         
   {% assign matched_count = 0 %}
  {% for article in blog.articles %}
    {% unless article.title == this_title %}
    {% assign shared_tag_found = false %}
      
    {% comment %}Check for matching tags{% endcomment %}
    {% for tag in article.tags %}
      {% if this_tags_array contains tag %}
        {% assign shared_tag_found = true %}
      {% endif %}
    {% endfor %}
      {% if shared_tag_found %}
      <li class="grid__item">
        {%- render 'card-article',
          article: article,
          media_aspect_ratio: settings.blog_card_image_ratio,
          show_image: true,
          date_format: date_format,
          show_tags: section.settings.show_tags,
          show_date: section.settings.show_date,
          show_author: section.settings.show_author,
          show_excerpt: false,
          lazy_load: true
        -%}
      </li>

      {% assign matched_count = matched_count | plus: 1 %}
      {% if matched_count == 6 %}
        {% break %}
      {% endif %}
      {% endif %}

    {% endunless %}
    {% endfor %}

  
  {% if matched_count < 6 %}
  {% for article in blog.articles %}
    {% unless article.title == this_title %}
    {% assign shared_tag_found = false %}
      
    {% comment %}Check for matching tags{% endcomment %}
    {% for tag in article.tags %}
      {% if this_tags_array contains tag %}
        {% assign shared_tag_found = true %}
      {% endif %}
    {% endfor %}
      {% if shared_tag_found == false %}
      <li class="grid__item">
        {%- render 'card-article',
          article: article,
          media_aspect_ratio: settings.blog_card_image_ratio,
          show_image: true,
          date_format: date_format,
          show_tags: section.settings.show_tags,
          show_date: section.settings.show_date,
          show_author: section.settings.show_author,
          show_excerpt: false,
          lazy_load: true
        -%}
      </li>

      {% assign matched_count = matched_count | plus: 1 %}
      {% if matched_count == 6 %}
        {% break %}
      {% endif %}
      {% endif %}

    {% endunless %}
    {% endfor %}
    {% endif %}

    </ul>
  
    {% if matched_count > section.settings.layout_columns_desktop %}
    <div class="slider-arrows arrow-style-{{ section.settings.arrow_style }}">
      <button class="slider-arrow-left" aria-label="{{ 'accessibility.left' | t }}">{% render 'icon-arrow-slider' %}</button>
      <button class="slider-arrow-right" aria-label="{{ 'accessibility.right' | t }}">{% render 'icon-arrow-slider' %}</button>
    </div>
    {% endif %}          
  
    {% render 'scrolltrack' %}

  </div>
</div>

{% if section.settings.bottom_border %}
<hr class="section-border section-border-color-{{ section.settings.border_color }} section-border-width-{{ section.settings.border_width }}">
{% endif %}

</div>
{% endif %}

{% schema %}
  {
    "name": "t:sections.related_articles.name",
    "enabled_on": {
      "templates": ["article"]
    },
    "settings": [
      {
        "type": "text_alignment",
        "id": "content_alignment",
        "label": "t:sections.all.alignment.alignment_header",
        "default": "center"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.all.heading",
        "default": "Related Articles"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "t:sections.all.heading_size.label",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.normal.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.large.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.xl.label"
          }
  		],
        "default": "h2"
      },
      {
        "type": "select",
        "id": "arrow_style",
        "label": "t:sections.all.buttons.arrow_style",
        "options": [
          {
            "value": "solid-inverted",
            "label": "t:sections.all.buttons.button_style_solid_inverted"
          },
          {
            "value": "solid",
            "label": "t:sections.all.buttons.button_style_solid"
          },
          {
            "value": "outline",
            "label": "t:sections.all.buttons.button_style_outline"
          },
          {
            "value": "outline-inverted",
            "label": "t:sections.all.buttons.button_style_outline_inverted"
          },        
          {
            "value": "minimal",
            "label": "t:sections.all.minimal"
          }        
  		],
        "default": "solid-inverted"
      },
      {
        "type": "range",
        "id": "layout_columns_tablet",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 2,
        "label": "t:sections.related_articles.settings.columns_tablet.label"
      },
      {
        "type": "range",
        "id": "layout_columns_desktop",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3,
        "label": "t:sections.related_articles.settings.columns_desktop.label"
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "default": false,
        "label": "t:sections.related_articles.settings.show_author.label"
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "default": false,
        "label": "t:sections.related_articles.settings.show_date.label"
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "default": false,
        "label": "t:sections.related_articles.settings.show_tags.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 160,
        "step": 10,
        "unit": "px",
        "default": 80,
        "label": "t:sections.all.padding.padding_top"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 160,
        "step": 10,
        "unit": "px",
        "default": 80,
        "label": "t:sections.all.padding.padding_bottom"
      },
      {
        "type": "header",
        "content": "t:sections.all.border"
      },
      {
        "type": "checkbox",
        "id": "top_border",
        "default": true,
        "label": "t:sections.all.border_top"
      },
      {
        "type": "checkbox",
        "id": "bottom_border",
        "default": false,
        "label": "t:sections.all.border_bottom"
      },
      {
        "type": "select",
        "id": "border_width",
        "label": "t:sections.all.width",
        "options": [
          {
            "value": "normal",
            "label": "t:sections.all.normal"
          },
          {
            "value": "full",
            "label": "t:sections.all.full_width"
          }
          ],
        "default": "normal"
      },
      {
        "type": "select",
        "id": "border_color",
        "label": "t:sections.all.border_color",
        "options": [
          {
            "value": "dark",
            "label": "t:sections.all.colors.dark.label"
          },
          {
            "value": "light",
            "label": "t:sections.all.colors.light.label"
          }
          ],
        "default": "dark"
      }
    ],
    "presets": [
      {
        "name": "t:sections.related_articles.presets.name"
      }
    ]
  }
{% endschema %}