{{ 'section-tabs.css' | asset_url | stylesheet_tag }}
<script src="{{ 'component-tabs.js' | asset_url }}" defer="defer"></script>

{%- style -%}
.section-{{ section.id }} .section-inner {  
  padding-top: {{ section.settings.top_padding | times: 0.8 }}px;
  padding-bottom: {{ section.settings.bottom_padding | times: 0.8 }}px;
}

@media only screen and (min-width: 750px) {
  .section-{{ section.id }} .section-inner {  
    padding-top: {{ section.settings.top_padding }}px;
    padding-bottom: {{ section.settings.bottom_padding }}px;
  }
}
  
{% unless section.settings.image_position == 'left' %}
@media only screen and (min-width: 750px) {
  .section-{{ section.id }} .tabpanel-flex .tabpanel-image {
    order: 2;
  }
}  
{% endunless %}

.section-{{ section.id }} .dt-img-position-left.dt-tab-position-inline .tab-menu {
    margin-left: calc(50% + (var(--grid-desktop-horizontal-spacing) / 2));
}
  
{%- endstyle -%}

<div id="{{ section.id }}" class="section-tabbed-content section-{{ section.id }} color-scheme-{{ section.settings.text_color }} color-scheme-{{ section.settings.bg_color }}">

{% if section.settings.top_border %}
<hr class="section-border section-border-color-{{ section.settings.border_color }} section-border-width-{{ section.settings.border_width }}">
{% endif %}
  
<div class="section-inner page-width tab-grand">
{% unless section.settings.section_label == blank and section.settings.heading == blank and section.settings.sub_heading == blank %}
<div class="section-header section-header-std-padding{% if section.settings.heading_alignment == 'center' %} align-center{% endif %}">  
{% unless section.settings.section_label == blank %}<div class="section-label">{{ section.settings.section_label }}</div>{% endunless %}
{% unless section.settings.heading == blank %}<h2 class="{{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>{% endunless %}
{% unless section.settings.sub_heading == blank %}<div class="section-header-paragraph">{{ section.settings.sub_heading }}</div>{% endunless %}
</div>
{% endunless %}
  
<div class="tabbed-content-wrapper dt-img-position-{{ section.settings.image_position }} dt-tab-position-{{ section.settings.tab_position_desktop }}">

<div role="tablist" class="tab-menu tab-menu-style--{{ section.settings.tab_style }}{% if section.settings.tab_underline %} tab-menu-underlined{% endif %}{% if section.settings.tab_alignment == 'center' %} align-center{% endif %}">
{% for block in section.blocks %}
<button role="tab" class="tab-button" id="{{ block.id }}-tab" {% if forloop.index == 1 %}tabindex="0"{% else %}tabindex="-1"{% endif %} {% if forloop.index == 1 %}aria-selected="true"{% else %}aria-selected="false"{% endif %} aria-controls="{{ block.id }}-tabpanel">{{ block.settings.tab_heading }}</button>
{% endfor %}
</div>

{% for block in section.blocks %}
<div id="{{ block.id }}-tabpanel" class="tab-content{% if section.settings.content_alignment == 'center' %} align-center{% endif %}" role="tabpanel" aria-labelledby="{{ block.id }}-tab"{% unless forloop.index == 1 %} hidden{% endunless %}>
{% if block.settings.image or block.settings.video %}<div class="tabpanel-flex media-ratio-{{ section.settings.image_ratio }}">{% endif %}
{% if block.settings.video %}
{% assign video_id = 'vid-' | append: block.id %}
<div class="tabpanel-image autoplaying-video">
  {{
    block.settings.video
    | video_tag:
      id: video_id,
      image_size: '1600x',
      autoplay: false,
      loop: true,
      controls: false,
      muted: true,
      preload: 'none'
  }}
</div>
{% endif %}
{% if block.settings.image and block.settings.video == blank %}
<div class="tabpanel-image">
{{ block.settings.image | image_url: width: 1800 | image_tag: loading: 'lazy', widths: '375, 550, 750, 990, 1200, 1500, 1800', sizes: '(min-width: 750px) 50vw, 100vw' }}
</div>
{% endif %}
<div class="tabpanel-text flex-align-{{ section.settings.text_position_vertical }}">
<div class="tabpanel-text-content rte">
<h3>{{ block.settings.heading }}</h3>
{{ block.settings.content_text }}
</div>
</div>
  
{% if block.settings.image or block.settings.video %}</div>{% endif %}
</div>
{% endfor %}
</div>

{% if section.settings.btn_enable %}
<div class="section-footer{% if section.settings.tab_alignment == 'center' %} text-align-center{% endif %} section-footer-{{ section.settings.button_colour }} {{ section.settings.content_width | escape }}">
    {% if section.settings.btn_style == 'solid' %}
	<a href="{{ section.settings.btn_url }}" role="link" class="button button--solid">{{ section.settings.btn_txt }}</a>
    {% endif %}
    {% if section.settings.btn_style == 'outline' %}
	<a href="{{ section.settings.btn_url }}" role="link" class="button button--outline">{{ section.settings.btn_txt }}</a>
    {% endif %}
    {% if section.settings.btn_style == 'link' %}
	<a href="{{ section.settings.btn_url }}" role="link" class="link--underlined">{{ section.settings.btn_txt }}</a>
    {% endif %}
</div>
{% endif %}
  
</div>

{% if section.settings.bottom_border %}
<hr class="section-border section-border-color-{{ section.settings.border_color }} section-border-width-{{ section.settings.border_width }}">
{% endif %}
  
</div>

{% schema %}
  {
    "name": "t:sections.tabbed-content.name",
  	"class": "section",    
    "disabled_on": {
    "groups": ["header", "footer"],
    "templates": ["password", "cart"]
    },
    "max_blocks": 6,
    "settings": [
    {
      "type": "text",
      "id": "section_label",
      "label": "t:sections.all.caption"
	  },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.heading"
	  },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "t:sections.all.sub_heading"
	  },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.small.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.normal.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.large.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.xl.label"
        }
        ],
      "default": "h2"
    },
    {
      "type": "text_alignment",
      "id": "heading_alignment",
      "label": "t:sections.tabbed-content.settings.heading_alignment.label",
      "default": "left"
    },
    {
      "type": "select",
      "id": "tab_alignment",
      "label": "t:sections.tabbed-content.settings.tab_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.alignment.left"
        },
        {
          "value": "center",
          "label": "t:sections.all.alignment.center"
        }
		],
      "default": "left"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:sections.tabbed-content.settings.content_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.alignment.left"
        },
        {
          "value": "center",
          "label": "t:sections.all.alignment.center"
        }
		],
      "default": "left"
    },
    {
      "type": "select",
      "id": "tab_style",
      "label": "t:sections.tabbed-content.settings.tab_style.label",
      "options": [
        {
          "value": "underline",
          "label": "t:sections.tabbed-content.settings.tab_style.options__1.label"
        },
        {
          "value": "minimal",
          "label": "t:sections.tabbed-content.settings.tab_style.options__2.label"
        },
        {
          "value": "button",
          "label": "t:sections.tabbed-content.settings.tab_style.options__3.label"
        }
		],
      "default": "underline"
    },
    {
    "type": "checkbox",
    "id": "tab_underline",
    "default": true,
    "label": "t:sections.tabbed-content.settings.tab_underline.label",
    "info": "t:sections.tabbed-content.settings.tab_underline.info"
    },
    {
      "type": "select",
      "id": "tab_position_desktop",
      "label": "t:sections.tabbed-content.settings.desktop_tab_position.label",
      "info": "t:sections.tabbed-content.settings.desktop_tab_position.info",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.alignment.top"
        },
        {
          "value": "inline",
          "label": "t:sections.all.alignment.middle"
        }
		],
      "default": "top"
    },
    {
      "type": "select",
      "id": "text_position_vertical",
      "label": "t:sections.tabbed-content.settings.desktop_text_position.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.alignment.top"
        },
        {
          "value": "middle",
          "label": "t:sections.all.alignment.middle"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.alignment.bottom"
        }
		],
      "default": "top"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.all.ratio.media_ratio",
      "options": [
        {
          "value": "fit",
          "label": "t:sections.all.ratio.adapt_to_image"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.ratio.portrait_4_5"
        },
        {
          "value": "portrait-4x6",
          "label": "t:sections.all.ratio.portrait_4_6"
        },
        {
          "value": "square",
          "label": "t:sections.all.ratio.square"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.ratio.landscape"
        },
        {
          "value": "landscape-16x9",
          "label": "t:sections.all.ratio.landscape_16_9"
        }
		],
      "default": "fit"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.tabbed-content.settings.desktop_image_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.alignment.left"
        },
        {
          "value": "right",
          "label": "t:sections.all.alignment.right"
        }
		],
      "default": "right"
    },
    {
	"type": "checkbox",
	"id": "btn_enable",
	"default": false,
    "label": "t:sections.all.buttons.show_button"
	},
    {
	"type": "text",
	"id": "btn_txt",
	"label": "t:sections.all.buttons.button_label"
	},
    {
	"type": "url",
	"id": "btn_url",
	"label": "t:sections.all.buttons.button_link"
	},
    {
      "type": "select",
      "id": "btn_style",
      "label": "t:sections.all.buttons.button_style",
      "options": [
        {
          "value": "solid",
          "label": "t:sections.all.buttons.button_style_solid"
        },
        {
          "value": "outline",
          "label": "t:sections.all.buttons.button_style_outline"
        },
        {
          "value": "link",
          "label": "t:sections.all.buttons.button_style_link"
        }
		],
      "default": "solid"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "text_color",
      "options": [
        {
          "value": "fg-body",
          "label": "t:sections.all.colors.background_body.label"
        },
        {
          "value": "fg-01",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "fg-02",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "fg-03",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "fg-04",
          "label": "t:sections.all.colors.accent_4.label"
        },
        {
          "value": "fg-05",
          "label": "t:sections.all.colors.accent_5.label"
        }
      ],
      "default": "fg-body",
      "label": "t:sections.all.colors.text_color.label"
    },
    {
      "type": "select",
      "id": "bg_color",
      "options": [
        {
          "value": "bg-body",
          "label": "t:sections.all.colors.background_body.label"
        },
        {
          "value": "bg-01",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "bg-02",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "bg-03",
          "label": "t:sections.all.colors.background_3.label"
        },
        {
          "value": "bg-04",
          "label": "t:sections.all.colors.background_4.label"
        },
        {
          "value": "bg-05",
          "label": "t:sections.all.colors.background_5.label"
        },
        {
          "value": "bg-06",
          "label": "Background 6"
        },
        {
          "value": "bg-07",
          "label": "Background 7"
        },
        {
          "value": "bg-08",
          "label": "Background 8"
        },
        {
          "value": "bg-09",
          "label": "Background 9"
        }
      ],
      "default": "bg-body",
      "label": "t:sections.all.colors.background_color.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
    "type": "range",
    "id": "top_padding",
    "min": 0,
    "max": 160,
    "step": 10,
    "unit": "px",
    "default": 80,
    "label": "t:sections.all.padding.padding_top"
    },
    {
    "type": "range",
    "id": "bottom_padding",
    "min": 0,
    "max": 160,
    "step": 10,
    "unit": "px",
    "default": 80,
    "label": "t:sections.all.padding.padding_bottom"
    },
    {
      "type": "header",
      "content": "t:sections.all.border"
    },
    {
    "type": "checkbox",
    "id": "top_border",
    "default": false,
    "label": "t:sections.all.border_top"
    },
    {
    "type": "checkbox",
    "id": "bottom_border",
    "default": false,
    "label": "t:sections.all.border_bottom"
    },
    {
      "type": "select",
      "id": "border_width",
      "label": "t:sections.all.width",
      "options": [
        {
          "value": "normal",
          "label": "t:sections.all.normal"
        },
        {
          "value": "full",
          "label": "t:sections.all.full_width"
        }
        ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "border_color",
      "label": "t:sections.all.border_color",
      "options": [
        {
          "value": "dark",
          "label": "t:sections.all.colors.dark.label"
        },
        {
          "value": "light",
          "label": "t:sections.all.colors.light.label"
        }
        ],
      "default": "dark"
    }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Content",
        "settings": [
          {
          "type": "text",
          "id": "tab_heading",
          "label": "t:sections.tabbed-content.blocks.content.settings.tab_label.label",
          "default": "Tab label"
          },
          {
          "type": "text",
          "id": "heading",
          "label": "t:sections.tabbed-content.blocks.content.settings.heading.label"
          },
          {
          "type": "richtext",
          "id": "content_text",
          "label": "t:sections.tabbed-content.blocks.content.settings.text.label"
          },
          {
          "type": "video",
          "id": "video",
          "label": "t:sections.all.video"
          },
          {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.tabbed-content.blocks.content.settings.image.label"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "t:sections.tabbed-content.presets.name",
      "blocks": [
        {
          "type": "content"
        },
        {
          "type": "content"
        }
      ]
    }
  ]
}
{% endschema %}
